<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2><i class="fa fa-filter"></i> Filtros
                    <small></small>
                </h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">

                <div class="row cols-same-height-align-vertical">

                    <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12 form-group">
                        <label class="control-label" for="dateFromFilter">Desde:</label>
                        <input type="text" id="dateFromFilter" placeholder="Desde" class="form-control">
                    </div>

                    <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12 form-group">
                        <label class="control-label" for="dateToFilter">Hasta:</label>
                        <input type="text" id="dateToFilter" placeholder="Hasta" class="form-control">
                    </div>

                    <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12 form-group">
                        <label class="control-label" for="dayTypeFilter">Tipo de día:</label>
                        <select class="form-control" id='dayTypeFilter' multiple="multiple" style="width: 100%">
                        </select>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 form-group">
                        <label class="control-label" for="periodFilter">Período:</label>
                        <select class="form-control" id='periodFilter' multiple="multiple" style="width: 100%">
                        </select>
                    </div>

                    <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12 form-group">
                        <button type="submit" id="btnUpdateChart" class="btn btn-success btn-lg btn-round">
                            Aplicar
                        </button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>