<div class="col-lg-2 col-md-3 col-sm-3 col-xs-6 form-group">
    <div class="modos_checkbox_div">
        <input id="B" type="checkbox" class="modes_checkbox" data-ne-str="1"/>
        <span class="control-label">Bus</span>
    </div>
</div>
<div class="col-lg-2 col-md-3 col-sm-3 col-xs-6 form-group">
    <div class="modos_checkbox_div">
        <input id="M" type="checkbox" class="modes_checkbox" data-ne-str="2"/>
        <span class="control-label">Metro</span>
    </div>
</div>
<div class="col-lg-2 col-md-3 col-sm-3 col-xs-6 form-group">
    <div class="modos_checkbox_div">
        <input id="T" type="checkbox" class="modes_checkbox" data-ne-str="4"/>
        <span class="control-label">MetroTren</span>
    </div>
</div>
<div class="col-lg-2 col-md-3 col-sm-3 col-xs-6 form-group">
    <div class="modos_checkbox_div">
        <input id="BM" type="checkbox" class="modes_checkbox" data-ne-str="3"/>
        <span class="control-label">Bus + Metro</span>
    </div>
</div>
<div class="col-lg-2 col-md-3 col-sm-3 col-xs-6 form-group">
    <div class="modos_checkbox_div">
        <input id="BT" type="checkbox" class="modes_checkbox" data-ne-str="5"/>
        <span class="control-label">Bus + Metrotren</span>
    </div>
</div>
<div class="col-lg-2 col-md-3 col-sm-3 col-xs-6 form-group">
    <div class="modos_checkbox_div">
        <input id="MT" type="checkbox" class="modes_checkbox" data-ne-str="6"/>
        <span class="control-label">Metro + Metrotren</span>
    </div>
</div>
<div class="col-lg-2 col-md-3 col-sm-3 col-xs-6 form-group">
    <div class="modos_checkbox_div">
        <input id="BMT" type="checkbox" class="modes_checkbox" data-ne-str="7"/>
        <span class="control-label">Bus + Metro + Metrotren</span>
    </div>
</div>