{% extends 'admin/base_site.html' %}
{% load static %}

{% block title %}Indicadores: Resumen{% endblock %}

{% block css %}

    {% with "components/gentelella/vendors/" as gentelella_static %}
        <link href="{% static gentelella_static|add:"bootstrap-daterangepicker/daterangepicker.css" %}"
              rel="stylesheet">
        <link href="{% static gentelella_static|add:"pnotify/dist/pnotify.css" %}" rel="stylesheet">
        <link href="{% static gentelella_static|add:"pnotify/dist/pnotify.buttons.css" %}" rel="stylesheet">
        <link href="{% static gentelella_static|add:"pnotify/dist/pnotify.nonblock.css" %}" rel="stylesheet">
        <link href="{% static gentelella_static|add:"select2/dist/css/select2.min.css" %}" rel="stylesheet">
        <!-- iCheck -->
        <link href="{% static gentelella_static|add:"iCheck/skins/flat/green.css" %}" rel="stylesheet">
    {% endwith %}

    <link href="{% static "travel/css/generic.css" %}" rel="stylesheet">
    <link href="{% static "travel/css/graphs.css" %}" rel="stylesheet">

{% endblock %}

{% block content %}


    <div class="">
        
        {% include "./titlebar.html" with titlename="Resumen de Viajes" %}
        {% include "./filters.html" %}

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">

                    <div class="x_title">
                        <h2><i class="fa fa-circle"></i> Indicadores
                            <small></small>
                        </h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>

                    <div class="x_content">

                        <div class="row tile_count indicadores-section">

                            <div id="indicator-first-count" class="col-md-4 col-sm-12 col-xs-12 tile_stats_count text-center">
                                <span class="count_top">
                                    <i class="fa fa-bus"></i> Cantidad de Viajes
                                </span>
                                <div class="count" id="indicator-viajes">-</div>
                                <span class="count_bottom">
                                    <i class="green" id="indicator-documentos">-</i> Viajes sin expandir
                                </span>
                            </div>

                            <div class="col-md-8 col-sm-12 col-xs-12">
                                
                                {# Just to simulate the left hand bar #}
                                <div class="col-xs-0 tile_stats_count"></div>

                                {# obs: bootstrap 3 does not support col-xl-* classes, but bootstrap 4 does. #}
                                <div class="indicator-stat col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12 tile_stats_count">
                                    <span class="count_top"><i class="fa fa-clock-o"></i> Tiempo de Viaje</span>
                                    <div class="count" id="indicator-tviaje-avg">- min</div>
                                    <span class="count_bottom">Mayor tiempo de viaje <i class="red" id="indicator-tviaje-max">- min</i></span>
                                </div>

                                <div class="indicator-stat col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12 tile_stats_count">
                                    <span class="count_top"><i class="fa fa-list-ol"></i> Cantidad de Etapas</span>
                                    <div class="count" id="indicator-netapas-avg">- etapas</div>
                                    <span class="count_bottom">Mayor cantidad de etapas <i class="red" id="indicator-netapas-max">-</i></span>
                                </div>

                                <div class="indicator-stat col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12 tile_stats_count">
                                    <span class="count_top"><i class="fa fa-road"></i> Distancia Euclideana</span>
                                    <div class="count" id="indicator-dist-eucl-avg">- km</div>
                                    <span class="count_bottom">Mayor distancia <i class="red" id="indicator-dist-eucl-max">- km</i></span>
                                </div>

                                <div class="indicator-stat col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12 tile_stats_count">
                                    <span class="count_top"><i class="fa fa-road"></i> Distancia en Ruta</span>
                                    <div class="count" id="indicator-dist-ruta-avg">- km</div>
                                    <span class="count_bottom">Mayor distancia <i class="red" id="indicator-dist-ruta-max">- km</i></span>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row cols-same-height">

            <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2><i class="fa fa-tasks"></i> ¿Qué desea visualizar?</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="row viz-option-row">
                            <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                                <label class="control-label" for="vizSelector">Variable a mostrar:</label>
                                <select class="form-control" id='vizSelector' style="width: 100%">
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2><i class="fa fa-bar-chart-o"></i> <span id="graphTitle">Histograma</span>
                            <span id="visualization_doc_count">0</span> <span id="visualization_doc_count_txt">datos</span>
                        </h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content" style="height:500px">
                        <div id="graphChart" style="height:450px;"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}

{% block js %}
    
    {# gentelella #}
    {% with "components/gentelella/vendors/" as gentelella_static %}
        <script src="{% static gentelella_static|add:"moment/min/moment-with-locales.min.js" %}"></script>
        <script src="{% static gentelella_static|add:"bootstrap-daterangepicker/daterangepicker.js" %}"></script>
        <script src="{% static gentelella_static|add:"jquery.tagsinput/src/jquery.tagsinput.js" %}"></script>
        <script src="{% static gentelella_static|add:"pnotify/dist/pnotify.js" %}"></script>
        <script src="{% static gentelella_static|add:"pnotify/dist/pnotify.buttons.js" %}"></script>
        <script src="{% static gentelella_static|add:"pnotify/dist/pnotify.nonblock.js" %}"></script>
        <script src="{% static gentelella_static|add:"select2/dist/js/select2.min.js" %}"></script>
        <script src="{% static gentelella_static|add:"iCheck/icheck.min.js" %}"></script>    
    {% endwith %}

    {# echarts #}
    <script src="{% static "components/echarts/dist/echarts.min.js" %}"></script>
    <script src="{% static "components/echarts-wordcloud/dist/echarts-wordcloud.min.js" %}"></script>
    <script src="{% static "js/echartsTheme.js" %}"></script>

    <script>
        // localinfo.timeperiod JSON serialized data.
        var _allDaytypes = JSON.parse("{{ daytypes|escapejs }}");
        var _allPeriods = {{ timeperiods|safe }};
        var _allHalfhours = {{ halfhours|safe }};
        var _allCommunes = {{ communes|safe }};
        var _allTimeperiods = {{ timeperiods|safe }};
        // console.log(_allDaytypes);
        // console.log(_allCommunes);
        // console.log(_allHalfhours);
        // console.log(_allTimeperiods);
        // console.log(_allSectors);

        var _dayTypes = {
            0: "Laboral",
            1: "Sábado",
            2: "Domingo"
        };

        var _dayTypes_reversed = {
            "Laboral": 0,
            "Sábado": 1,
            "Domingo": 2
        };
    </script>

    <script src="{% static "travel/js/util.js" %}"></script>
    <script src="{% static "travel/js/graphs.js" %}"></script>
    <script src="{% static "travel/js/form.js" %}"></script>    
    <script src="{% static "travel/js/travel_graphs_options.js" %}"></script>
    <script src="{% static "travel/js/travel_graphs.js" %}"></script>

{% endblock %}
