{% extends 'travel/base.html' %}
{% load static header data_filter panel %}

{% block title %}Indicadores: Viajes por Etapas{% endblock %}

{% block css %}
    {{ block.super }}
    <link href="{% static "components/leaflet/dist/leaflet.css" %}" rel="stylesheet">
    {% with "components/gentelella/vendors/" as gentelella_static %}
        <link href="{% static gentelella_static|add:"ion.rangeSlider/css/ion.rangeSlider.css" %}" rel="stylesheet">
        <link href="{% static gentelella_static|add:"ion.rangeSlider/css/ion.rangeSlider.skinModern.css" %}"
              rel="stylesheet">
        {# switchery: pretty checkboxes #}
        <link href="{% static gentelella_static|add:"switchery/dist/switchery.min.css" %}" rel="stylesheet">
    {% endwith %}
    <link href="{% static "travel/css/generic.css" %}" rel="stylesheet">
    <link href="{% static "travel/css/large.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="">

        {% header "Viajes por etapas" "Indicadores" %}
        {% include "datamanager/availableDays.html" %}
        {% data_filter data_filter True False True True %}

        <div class="row cols-same-height">

            {# Selection Bar #}
            <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                {% panel "fa-tasks" "¿Qué desea visualizar?" selectors %}
            </div>

            {# Map #}
            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                {% with panel_body="<div id='mapChart' style='height:500px;'></div><input type='text' id='dataLimits' name='data_limits' value='' />" %}
                    {% panel "fa-map-o" "<span id='mapTitle'>Mapa</span> <span id='visualization_doc_count'>0</span> <span id='visualization_doc_count_txt'>datos</span>" panel_body %}
                {% endwith %}
            </div>
        </div>

    </div>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="{% static "components/leaflet/dist/leaflet.js" %}"></script>
    {% with "components/gentelella/vendors/" as gentelella_static %}
        <script src="{% static gentelella_static|add:"ion.rangeSlider/js/ion.rangeSlider.min.js" %}"></script>
        {# switchery: pretty checkboxes #}
        <script src="{% static gentelella_static|add:"switchery/dist/switchery.min.js" %}"></script>
    {% endwith %}

    <script>
        var ws_data = {};
        // console.log(ws_data._day_types);
        // console.log(ws_data._TS_periods);
        // console.log(ws_data._half_hours);
        // console.log(ws_data._communes);
    </script>

    <script src="{% static "travel/js/util.js" %}"></script>
    <script src="{% static "travel/js/maps.js" %}"></script>
    <script src="{% static "travel/js/form.js" %}"></script>
    <script src="{% static "travel/js/travel_large_options.js" %}"></script>
    <script src="{% static "travel/js/travel_large.js" %}"></script>
{% endblock %}
