{% extends 'busstationdistribution/base.html' %}
{% load static header panel inline_select table columns update_button label data_filter tabs %}

{% block title %}Distribución de validaciones en zona paga{% endblock %}

{% block css %}
    {{ block.super }}
    <link href="{% static "components/leaflet/dist/leaflet.css" %}" rel="stylesheet">
    <link href="{% static "components/BeautifyMarker/leaflet-beautify-marker-icon.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
    {% header "Distribución de validaciones" "en zona paga" %}

    {% include "datamanager/availableDays.html" with info_target_id="dayHelp" %}

    {% data_filter data_filter True False True False False False False False False False False info_target_id="filterHelp" %}

    <div class="row">
        {% table "validationDetail" 10 with_checker=False as validationTable %}
        {% panel "fa-money" 'Validaciones' validationTable info_target_id="tableHelp" as panel5 %}
        {% columns 12 12 12 panel5 %}
    </div>

    {% include "help/modal/explanation/profile/by_route/filter.html" with modal_id="filterHelp" %}
    {% include "help/modal/explanation/profile/by_route/chart.html" with modal_id="chartHelp" %}
    {% include "help/modal/explanation/profile/by_route/table.html" with modal_id="tableHelp" %}
    {{ block.super }}
{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="{% static "busstationdistribution/js/index.js" %}"></script>
{% endblock %}
