{% extends 'admin/base_site.html' %}
{% load static %}

{% block css %}
    <link href="{% static "css/filterManager.css" %}" rel="stylesheet">
    {% with "components/gentelella/vendors/" as gentelella_static %}
        <link href="{% static gentelella_static|add:"select2/dist/css/select2.min.css" %}" rel="stylesheet">
        <!-- Daterangepicker -->
        <link href="{% static gentelella_static|add:'bootstrap-daterangepicker/daterangepicker.css' %}"
              rel="stylesheet">
    {% endwith %}
{% endblock %}

{% block content %}
    {% include "help/modal/explanation/calendar.html" with modal_id="dayHelp" %}
    {% include "help/modal/export_data.html" with show_ok_button=True modal_id="exportDataModal" %}
{% endblock %}

{% block js %}
    {% with "components/gentelella/vendors/" as gentelella_static %}
        <script src="{% static gentelella_static|add:"moment/min/moment-with-locales.min.js" %}"></script>
        <script src="{% static gentelella_static|add:"bootstrap-daterangepicker/daterangepicker.js" %}"></script>
        <script src="{% static gentelella_static|add:"jquery.tagsinput/src/jquery.tagsinput.js" %}"></script>
        <script src="{% static gentelella_static|add:"select2/dist/js/select2.min.js" %}"></script>
    {% endwith %}

    <script src="{% static "components/echarts/dist/echarts.min.js" %}"></script>

    <script src="{% static "js/echartsTheme.js" %}"></script>
    <script src="{% static "js/dateRangePickerOpt.js" %}"></script>
    <script src="{% static "js/filterManager.js" %}"></script>
    <script src="{% static "js/availableDays.js" %}"></script>
{% endblock %}