<div class="row">
    <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12 form-group">
        <label>Escala de colores:</label>
        <div class="colorscale_checkbox_div">
            <span class="control-label">Divergente</span>
            <input id="colorscale_checkbox" type="checkbox"/>
            <span class="control-label">Secuencial</span>
        </div>
    </div>
    <div class="col-lg-9 col-md-8 col-sm-7 col-xs-12 form-group">
        <label>Regulador de escala de colores:</label>
        <input type='text' id='dataLimits' name='data_limits' value='' />
    </div>
</div>