<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
    <label>Número de etapas:</label>
</div>

<div class="col-lg-2 col-md-3 col-sm-4 col-xs-12 form-group">
    <div class="netapas_checkbox_div">
        <input id="netapas_1" type="checkbox" class="netapas_checkbox" data-ne-str="1"/>
        <span class="control-label">1 etapa</span>
    </div>
</div>
<div class="col-lg-2 col-md-3 col-sm-4 col-xs-12 form-group">
    <div class="netapas_checkbox_div">
        <input id="netapas_2" type="checkbox" class="netapas_checkbox" data-ne-str="2"/>
        <span class="control-label">2 etapas</span>
    </div>
</div>
<div class="col-lg-2 col-md-3 col-sm-4 col-xs-12 form-group">
    <div class="netapas_checkbox_div">
        <input id="netapas_3" type="checkbox" class="netapas_checkbox" data-ne-str="3"/>
        <span class="control-label">3 etapas</span>
    </div>
</div>
<div class="col-lg-2 col-md-3 col-sm-4 col-xs-12 form-group">
    <div class="netapas_checkbox_div">
        <input id="netapas_4" type="checkbox" class="netapas_checkbox" data-ne-str="4" checked/>
        <span class="control-label">4 etapas</span>
    </div>
</div>
<div class="col-lg-2 col-md-3 col-sm-4 col-xs-12 form-group">
    <div class="netapas_checkbox_div">
        <input id="netapas_5_or_more" type="checkbox" class="netapas_checkbox" data-ne-str="5+" checked/>
        <span class="control-label">5+ etapas</span>
    </div>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
    <label>¿Dónde desea asociar el viaje?:</label>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
    <div class="origin_or_destination_checkbox_div">
        <span class="control-label">Zona de origen</span>
        <input id="originOrDestination" type="checkbox"  />
        <span class="control-label">Zona de destino</span>
    </div>
</div>