{% extends 'trip/base.html' %}
{% load static header data_filter panel %}

{% block title %}Viajes: Indicadores de viajes{% endblock %}

{% block css %}
    {{ block.super }}
    <link href="{% static "trip/css/generic.css" %}" rel="stylesheet">
    <link href="{% static "trip/css/graphs.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="">
        {% header "Indicadores de viajes" %}
        {% include "datamanager/availableDays.html" with info_target_id="dayHelp" %}
        {% data_filter data_filter True False True False False False False False False False False False True info_target_id="filterHelp" %}

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                {% panel "fa-circle" "Indicadores" indicators %}
            </div>
        </div>

        <div class="row cols-same-height">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                {% panel "fa-bar-chart-o" "Histograma" chart info_target_id="histogramHelp" %}
            </div>
        </div>
    </div>

    {% include "datamanager/modal.html" with modal_id="filterHelp" modal_title="Filtro" modal_body="esto es una explicación de los filtros posibles" %}
    {% include "datamanager/modal.html" with modal_id="histogramHelp" modal_title="Matriz de velocidades" modal_body="esto es una explicación del gráfico" %}
    {{ block.super }}
{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="{% static "trip/js/resume.js" %}"></script>
{% endblock %}
