{% extends 'admin/base_site.html' %}
{% load static panel bubble_message table tabs header %}

{% block title %}Inconsistencias de datos{% endblock %}

{% block css %}
    {% with "components/gentelella/vendors/" as gentelella_static %}
        rel="stylesheet">
        <link href="{% static gentelella_static|add:"datatables.net-bs/css/dataTables.bootstrap.min.css" %}"
              rel="stylesheet">
        <link href="{% static gentelella_static|add:"datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" %}"
              rel="stylesheet">
        <link href="{% static gentelella_static|add:"datatables.net-responsive-bs/css/responsive.bootstrap.min.css" %}"
              rel="stylesheet">
        <link href="{% static gentelella_static|add:"datatables.net-scroller-bs/css/scroller.bootstrap.min.css" %}"
              rel="stylesheet">
        <link href="{% static gentelella_static|add:"datatables.net-buttons-bs/css/buttons.bootstrap.min.css" %}"
              rel="stylesheet">

    {% endwith %}
{% endblock %}

{% block content %}

    {% header "Inconsistencias de Datos" %}
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            {% table html_id="fechas-id" columns=9 with_checker=False as file_table %}
            {% panel title_icon="fa-file" title="Fechas" body=file_table %}
        </div>
    </div>

{% endblock %}

{% block js %}
    {% with "components/gentelella/vendors/" as gentelella_static %}
        <script src="{% static gentelella_static|add:"datatables.net/js/jquery.dataTables.min.js" %}"></script>
        <script src="{% static gentelella_static|add:"datatables.net-bs/js/dataTables.bootstrap.min.js" %}"></script>
        <script src="{% static gentelella_static|add:"datatables.net-buttons/js/dataTables.buttons.min.js" %}"></script>
        <script src="{% static gentelella_static|add:"datatables.net-keytable/js/dataTables.keyTable.min.js" %}"></script>
        <script src="{% static gentelella_static|add:"jszip/dist/jszip.min.js" %}"></script>
        <script src="{% static gentelella_static|add:"datatables.net-buttons/js/buttons.html5.min.js" %}"></script>
        <script src="{% static gentelella_static|add:"datatables.net-responsive/js/dataTables.responsive.min.js" %}"></script>
    {% endwith %}
    <script src="{% static "consistencychecker/js/loadConsistency.js" %}"></script>
{% endblock %}