language: python
python:
  - "3.7"
services:
  - elasticsearch
  - redis
  - postgresql
env:
  -DJANGO=3.0.4 DB=postgres
install:
  - pip install -r requirements.txt
before_script:
  - psql -c 'create database fondefdev;' -U postgres
  - mkdir "/home/travis/build/SmartcitySantiagoChile/fondefVizServer/fondefVizServer/logs/" && touch file.log
script:
  - python manage.py test