boto3==1.24.5
coverage==6.4.1
Django==3.2.15
django-js-reverse==0.9.1
django-rq==2.5.1
django-debug-toolbar==3.4.0
django-debug-panel==0.8.3
django-crontab==0.7.1
elasticsearch==6.3.1
elasticsearch-dsl==6.3.1
fakeredis==1.8.1
gunicorn==20.1.0
openpyxl==3.0.10
psycopg2-binary==2.9.3
python-coveralls==2.9.3
python-decouple==3.6
redis==4.3.1
rq==1.10.1
./dataUploader/