{% extends 'profile/base.html' %}
{% load static header panel inline_select table columns update_button %}

{% block title %}Perfil de carga por expedición{% endblock %}

{% block content %}
    {% header "Perfil de carga" "por ruta" %}

  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
    {% inline_select "Día:" "dayFilter" days as days_select %}
    {% columns 2 2 12 days_select as col1 %}

    {% inline_select "Servicio-sentido:" "routeFilter" routes as route_select %}
    {% columns 2 2 12 route_select as col2 %}

    {% inline_select "Tipo de día:" "dayTypeFilter" dayTypes True as dayType_select %}
    {% columns 2 2 12 dayType_select as col3 %}

    {% inline_select "Período:" "periodFilter" periods True as period_select %}
    {% columns 2 2 12 period_select as col4 %}

    {% inline_select "Media hora:" "minutePeriodFilter" minutes True as half_hour_select %}
    {% columns 2 2 12 half_hour_select as col5 %}

    {% update_button "btnUpdateChart" "Actualizar datos" as update_button %}
    {% columns 12 12 12 update_button as col6 %}

    {% panel "fa-filter" "Filtro" col1|add:col2|add:col3|add:col4|add:col5|add:col6 %}
    </div>
  </div>

  <div class="row">
    {% panel "fa-clock-o" "Expediciones por hora" '<div id="timePeriodChart" style="height:50px;"></div>' as panel1 %}
    {% columns 4 4 4 panel1 %}

    {% panel "fa-truck" 'Expediciones por patente <strong id="licensePlateNumber">(0)</strong>' '<div id="wordcloudChart1" style="height:50px;"></div>' as panel2 %}
    {% columns 4 4 4 panel2 %}

    {% panel "fa-calendar" "Expediciones por tipo de día" '<div id="wordcloudChart2" style="height:50px;"></div>' as panel3 %}
    {% columns 4 4 4 panel3 %}

    {% columns 12 12 12 '<div id="barChart" style="height:600px;"></div>' as col6 %}
    {% panel "fa-bar-chart" "Perfil de carga <small>para <strong id='expeditionNumber'>N</strong> expediciones</small>" col6 %}
  </div>

  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        {% table "expeditionDetail" 7 as expeditionTable %}
        {% panel "fa-truck" 'Expediciones (<strong id="expeditionNumber2">N</strong>)' expeditionTable %}
    </div>
  </div>
{% endblock %}

{% block js %}
    {{ block.super }}
    {% with "components/gentelella/vendors/" as gentelella_static %}
        <script src="{% static gentelella_static|add:"jquery-sparkline/dist/jquery.sparkline.min.js" %}"></script>
    {% endwith %}
    <script src="{% static "js/byExpedition.js" %}"></script>
{% endblock %}
