{% extends 'profile/base.html' %}
{% load static header panel inline_select table columns update_button label data_filter %}

{% block title %}Perfil de carga por expedición{% endblock %}

{% block content %}
    {% label "OBSERVACIÓN: Los datos mostrados a continuación no consideran evasión." "warning" as label %}
    {% header "Perfil de carga" "por servicio"|add:label %}

    {% include "datamanager/availableDays.html" with info_target_id="dayHelp" %}

    {% data_filter data_filter True False True False False True False True True True True info_target_id="filterHelp" %}

    <div class="row">
        {% panel "fa-clock-o" "Expediciones por hora de inicio" '<div id="timePeriodChart" style="height:50px;"></div>' as panel1 %}
        {% columns 4 4 4 panel1 %}

        {% panel "fa-truck" 'Expediciones por patente <strong id="licensePlateNumber">(0)</strong>' '<div id="wordcloudChart1" style="height:50px;"></div>' as panel2 %}
        {% columns 4 4 4 panel2 %}

        {% panel "fa-calendar" "Expediciones por tipo de día" '<div id="wordcloudChart2" style="height:50px;"></div>' as panel3 %}
        {% columns 4 4 4 panel3 %}

        {% panel "fa-bar-chart" "Perfil de carga <small>para <strong id='expeditionNumber'>N</strong> expediciones</small>" '<div id="barChart" style="height:600px;"></div>' info_target_id="chartHelp" as panel4 %}
        {% columns 12 12 12 panel4 %}
    </div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            {% table "expeditionDetail" 7 as expeditionTable %}
            {% panel "fa-truck" 'Expediciones (<strong id="expeditionNumber2">N</strong>)' expeditionTable info_target_id="tableHelp" %}
        </div>
    </div>

    {% include "datamanager/modal.html" with modal_id="dayHelp" modal_title="Días disponibles" modal_body="esto es una explicación del filtro de día" %}
    {% include "datamanager/modal.html" with modal_id="filterHelp" modal_title="Filtro" modal_body="esto es una explicación de los filtros posibles" %}
    {% include "datamanager/modal.html" with modal_id="chartHelp" modal_title="Perfil de carga" modal_body="esto es una explicación del gráfico" %}
    {% include "datamanager/modal.html" with modal_id="tableHelp" modal_title="Expediciones" modal_body="esto es una explicación de la tabla" %}
{% endblock %}

{% block js %}
    {{ block.super }}
    {% with "components/gentelella/vendors/" as gentelella_static %}
        <script src="{% static gentelella_static|add:"jquery-sparkline/dist/jquery.sparkline.min.js" %}"></script>
    {% endwith %}
    <script src="{% static "profile/js/byExpedition.js" %}"></script>
{% endblock %}
