{% extends 'profile/base.html' %}
{% load static header panel inline_select table columns update_button label data_filter tabs %}

{% block title %}Perfil de carga por expedición{% endblock %}

{% block css %}
    {{ block.super }}
    <link href="{% static "components/leaflet/dist/leaflet.css" %}" rel="stylesheet">
    <link href="{% static "components/BeautifyMarker/leaflet-beautify-marker-icon.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
    {% label "OBSERVACIÓN: Los datos mostrados a continuación no consideran evasión." "warning" as label %}
    {% header "Perfil de carga" "por servicio"|add:label %}

    {% include "datamanager/availableDays.html" with info_target_id="dayHelp" %}

    {% data_filter data_filter True False True False False True False True True True True info_target_id="filterHelp" %}

    <div class="row">
        {% tabs tabs.header tabs.content as profile_tabs %}
        {% panel "fa-bar-chart" "Perfil de carga <small>con <strong id='expeditionNumber'>N</strong> expediciones</small>" profile_tabs info_target_id="chartHelp" as panel4 %}
        {% columns 12 12 12 panel4 %}
    </div>

    <div class="row">
        {% table "expeditionDetail" 7 as expeditionTable %}
        {% panel "fa-truck" 'Expediciones (<strong id="expeditionNumber2">N</strong>)' expeditionTable info_target_id="tableHelp" as panel5 %}
        {% columns 12 12 12 panel5 %}
    </div>

    {% include "help/modal.html" with modal_id="profileMap" modal_title="Ruta de servicio" modal_body='<div id="mapid" style="height: 500px;min-height: 500px"></div>' %}

    {% include "help/modal.html" with modal_id="filterHelp" modal_title="Filtro" modal_body="esto es una explicación de los filtros posibles" %}
    {% include "help/modal.html" with modal_id="chartHelp" modal_title="Perfil de carga" modal_body="esto es una explicación del gráfico" %}
    {% include "help/modal.html" with modal_id="tableHelp" modal_title="Expediciones" modal_body="esto es una explicación de la tabla" %}
    {{ block.super }}
{% endblock %}

{% block js %}
    {{ block.super }}
    {% with "components/gentelella/vendors/" as gentelella_static %}
        <script src="{% static gentelella_static|add:"jquery-sparkline/dist/jquery.sparkline.min.js" %}"></script>
    {% endwith %}
    <script src="{% static "components/leaflet/dist/leaflet.js" %}"></script>
    <script src="{% static "components/leaflet-polylinedecorator/dist/leaflet.polylineDecorator.js" %}"></script>
    <script src="{% static "components/BeautifyMarker/leaflet-beautify-marker-icon.js" %}"></script>
    <script src="{% static "trip/js/map.js" %}"></script>
    <script src="{% static "profile/js/byExpedition.js" %}"></script>
{% endblock %}
