{% extends 'profile/base.html' %}
{% load static header panel inline_select columns update_button table label data_filter %}

{% block title %}Subidas y Bajadas{% endblock %}

{% block content %}
    {% label "OBSERVACIÓN: Los datos mostrados a continuación no consideran evasión." "warning" as label %}
    {% header "Subidas y Bajadas" "por paradas"|add:label %}

    {% include "datamanager/availableDays.html" with info_target_id="dayHelp" %}
    {% include "admin/date_range_modal.html" with modal_id="dateRangeModal" show_save_button="True" %}

    {% data_filter data_filter True False True False True False True False False False False False False False False False Flase True info_target_id="filterHelp" %}

    <div class="row">

        {% panel "fa-bar-chart" "Subidas y bajadas" '<div id="barChart" style="height:400px;"></div>' info_target_id="chartHelp" as panel4 %}
        {% columns 12 12 12 panel4 %}
    </div>


    {% include "help/modal/explanation/profile/by_stop/filter.html" with modal_id="filterHelp" %}
    {% include "help/modal/explanation/profile/by_stop/chart.html" with modal_id="chartHelp" %}
    {% include "help/modal/explanation/profile/by_stop/table.html" with modal_id="tableHelp" %}
    {{ block.super }}
{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="{% static "profile/js/byManyStops.js" %}"></script>
{% endblock %}
