{% extends 'base.html' %}
{% load static %}

{% block title %}Perfil por expedición{% endblock %}

{% block css %}
{% with "components/gentelella/vendors/" as gentelella_static %}
  <link href="{% static gentelella_static|add:"bootstrap-daterangepicker/daterangepicker.css" %}" rel="stylesheet">
  <link href="{% static gentelella_static|add:"pnotify/dist/pnotify.css" %}" rel="stylesheet">
  <link href="{% static gentelella_static|add:"pnotify/dist/pnotify.buttons.css" %}" rel="stylesheet">
  <link href="{% static gentelella_static|add:"pnotify/dist/pnotify.nonblock.css" %}" rel="stylesheet">
  <link href="{% static gentelella_static|add:"select2/dist/css/select2.min.css" %}" rel="stylesheet">
<!-- iCheck -->
  <link href="{% static gentelella_static|add:"iCheck/skins/flat/green.css" %}" rel="stylesheet">

  <link href="{% static gentelella_static|add:"datatables.net-bs/css/dataTables.bootstrap.min.css" %}" rel="stylesheet">
  <link href="{% static gentelella_static|add:"datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" %}" rel="stylesheet">
  <link href="{% static gentelella_static|add:"datatables.net-responsive-bs/css/responsive.bootstrap.min.css" %}" rel="stylesheet">
  <link href="{% static gentelella_static|add:"datatables.net-scroller-bs/css/scroller.bootstrap.min.css" %}" rel="stylesheet">
  <link href="{% static gentelella_static|add:"datatables.net-scroller-bs/css/scroller.bootstrap.min.css" %}" rel="stylesheet">
  <style>
.select2-container .select2-choice:not(.select2-default) {
    background-image: none !important;
    background-color: #D9FFC7;
}
  </style>
{% endwith %}
{% endblock %}

{% block content %}
<div class="">
  <div class="page-title">
    <div class="title_left">
      <h3>Perfil de carga <small>por parada</small></h3>
    </div>
    <div class="title_right">
    </div>
  </div>
  <div class="clearfix"></div>
  <br />

  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2><i class="fa fa-filter"></i> Filtro <small></small></h2>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <!--
          <div class="col-md-2 col-sm-12 col-xs-12 form-group">
            <label class="control-label" for="dateFromFilter">Desde:</label>
            <input type="text" id="dateFromFilter" placeholder="Desde" class="form-control">
          </div>

          <div class="col-md-2 col-sm-12 col-xs-12 form-group">
            <label class="control-label" for="dateToFilter">Hasta:</label>
            <input type="text" id="dateToFilter" placeholder="Hasta" class="form-control">
          </div>
          -->
          <div class="col-md-2 col-sm-12 col-xs-12 form-group">
            <label class="control-label" for="stopFilter">Parada:</label>
            <!-- <input type="text" id="stopFilter" placeholder="Servicio sentido" class="form-control">-->
            <select class="form-control" id='stopFilter'>
              {% for stopCode in userStopCodes %}
              <option>{{ stopCode }}</option>
              {% endfor %}
              <!--
              {% for stopCode in authorityStopCodes %}
              <option>{{ stopCode }}</option>
              {% endfor %}-->
            </select>
          </div>

          <div class="col-md-2 col-sm-12 col-xs-12 form-group">
            <label class="control-label" for="dayTypeFilter">Tipo de día:</label>
            <select class="form-control" id='dayTypeFilter' multiple="multiple">
              {% for dayType in dayTypes %}
              <option>{{ dayType }}</option>
              {% endfor %}
            </select>
          </div>

          <div class="col-md-4 col-sm-12 col-xs-12 form-group">
            <label class="control-label" for="periodFilter">Período:</label>
            <select class="form-control" id='periodFilter' multiple="multiple">
              {% for period in periods %}
              <option>{{ period }}</option>
              {% endfor %}
            </select>
          </div>
          <!--
          <div class="row">
            <div class="col-md-4 col-sm-12 col-xs-12 form-group">
              <label class="control-label" for="licensePlateFilter">Patente:</label>
              <input type="text" id="licensePlateFilter" placeholder="Patente" class="tags form-control">
            </div>

            <div class="col-md-4 col-sm-12 col-xs-12 form-group">
              <label class="control-label" for="licensePlateFilter">Expedición id:</label>
              <input type="text" id="expeditionIdFilter" placeholder="Patente" class="tags form-control">
            </div>
          </div>-->
          <div class="col-md-12 col-sm-12 col-xs-12 form-group">
            <div class="ln_solid"></div>
            <button type="submit" id="btnUpdateChart" class="btn btn-success btn-lg btn-round">Actualizar datos</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2><i class="fa fa-bar-chart"></i> Perfil de carga promedio<small> para <strong id="expeditionNumber">N</strong> expediciones</small></h2>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <div class="col-md-9 col-sm-9 col-xs-12">
          <div id="barChart" style="height:400px;"></div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-12">
          <h4><i class="fa fa-clock-o"></i> Expediciones por hora</h4>
          <div id="timePeriodChart" style="height:89px;"></div>
          <h4><i class="fa fa-truck"></i> Expediciones por patente <strong id="licensePlateNumber">(N)</strong></h4>
          <div id="wordcloudChart1" style="height:170px;"></div>
          <h4><i class="fa fa-calendar"></i> Expediciones por tipo de día</h4>
          <div id="wordcloudChart2" style="height:30px;"></div>
        </div>
      </div>
    </div>
  </div>
  </div>

  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2><i class="fa fa-truck"></i> Expediciones (<strong id="expeditionNumber2">N</strong>)</h2>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <table id="expeditionDetail" class="table table-striped table-bordered dt-responsive table-condensed nowrap" width="100%">
            <thead>
              <tr>
              <th style="padding-right:5px;"><input type="checkbox" id="checkbox-select-all" class="flat" checked></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              </tr>
            </thead>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block js %}
{% with "components/gentelella/vendors/" as gentelella_static %}
<script src="{% static gentelella_static|add:"moment/min/moment-with-locales.min.js" %}"></script>
<script src="{% static gentelella_static|add:"bootstrap-daterangepicker/daterangepicker.js" %}"></script>
<script src="{% static gentelella_static|add:"jquery.tagsinput/src/jquery.tagsinput.js" %}"></script>
<script src="{% static gentelella_static|add:"pnotify/dist/pnotify.js" %}"></script>
<script src="{% static gentelella_static|add:"pnotify/dist/pnotify.buttons.js" %}"></script>
<script src="{% static gentelella_static|add:"pnotify/dist/pnotify.nonblock.js" %}"></script>
<script src="{% static gentelella_static|add:"select2/dist/js/select2.min.js" %}"></script>

<script src="{% static gentelella_static|add:"datatables.net/js/jquery.dataTables.min.js" %}"></script>
<script src="{% static gentelella_static|add:"datatables.net-bs/js/dataTables.bootstrap.min.js" %}"></script>
<script src="{% static gentelella_static|add:"datatables.net-fixedheader/js/dataTables.fixedHeader.min.js" %}"></script>
<script src="{% static gentelella_static|add:"datatables.net-responsive/js/dataTables.responsive.min.js" %}"></script><script src="{% static gentelella_static|add:"datatables.net-responsive-bs/js/responsive.bootstrap.js" %}"></script>
<script src="{% static gentelella_static|add:"datatables.net-scroller/js/dataTables.scroller.min.js" %}"></script>

<script src="{% static gentelella_static|add:"iCheck/icheck.min.js" %}"></script>

<script src="{% static "components/echarts/dist/echarts.min.js" %}"></script>
<script src="{% static "components/echarts-wordcloud/dist/echarts-wordcloud.min.js" %}"></script>

{% endwith %}
<script src="{% static "own/js/echartsTheme.js" %}"></script>
<script>
"use strict";
$(document).ready(function(){

  // define logic to manipulate data
  function Trip(expeditionId,
                route,
                licensePlate,
                busCapacity,
                stopTime,
                stopTimePeriod,
                dayType,
                loadProfile,
                expandedGetIn,
                expandedLanding) {

    this.expeditionId = expeditionId;
    this.route = route;
    this.licensePlate = licensePlate;
    this.busCapacity = busCapacity;
    this.stopTime = stopTime;
    this.stopTimePeriod = stopTimePeriod;
    this.dayType = dayType;
    this.loadProfile = loadProfile;
    this.expandedGetIn = expandedGetIn;
    this.expandedLanding = expandedLanding;
    this.aggregate = true;
  }

  /*
   * to manage grouped data
   */
  function DataManager(){
    // trips
    let _trips = [];
    // routes list
    let _xAxisData = null;
    // y average data
    let _yAxisData = null;
    // trips used to calculate average profile
    let _tripsUsed = 0;
    let _stopInfo = null;

    this.stopInfo = function(info){
      if(info == undefined){
        return _stopInfo;
      }
      _stopInfo = info;
    };
    this.getDataName = function(){
      if(_stopInfo != null){ 
        return 'Perfil de carga ' + _stopInfo['userStopCode'] + '_' + _stopInfo['authorityStopCode']; 
      }
      return ''; 
    };
    this.trips = function(trips){
      if(trips == undefined){
        return _trips;
      }
      _tripsUsed=0;
      for(let i=0;i<tripIdArray.length; i++){
        if(trips[i]['aggregate']){
          _tripsUsed++;
        }
      }
      _trips = trips;
    };
    this.addTrip = function(trip){
      // create trip identifier
      if(trip['aggregate']){
        _tripsUsed++;
      }
      trip['id'] = _trips.length;
      _trips.push(trip);
    };
    this.xAxisData = function(data){
      if( data === undefined){
        return _xAxisData;
      }
      _xAxisData = data;
    };
    this.yAxisData = function(data){
      if (data == undefined) {
        return _yAxisData;
      }
      _yAxisData = data;
    };
    this.tripsUsed = function(){
      return _tripsUsed;
    }
    this.cleanData = function(){
      _trips = [];
      _stopInfo = null;
      _xAxisData = null;
      _yAxisData = null;
      _tripsUsed = 0;
    };
    this.setAggregate = function(tripIdArray, value){
      for(let i=0;i<tripIdArray.length; i++){
       let tripId = tripIdArray[i];
       if(_trips[tripId]['aggregate'] !== value){
         if(value === false){
           _tripsUsed--;
         }else{
           _tripsUsed++;
         }
       }
       _trips[tripId]['aggregate'] = value;
      }
    };
    this.checkAllAreAggregate = function(tripIdArray){
      let result = tripIdArray.length;
      for(let i=0;i<tripIdArray.length; i++){
       let tripId = tripIdArray[i];
       if(!_trips[tripId]['aggregate']){
         result--;
       }
      }
      return result;
    };
    this.calculateAverage = function(){
      // erase previous aggregated data
      let xAxisLength = _xAxisData.length;
      let counterByRoute = [];
      let capacityByRoute = [];
      let tripQuantity = _trips.length;

      _yAxisData = {
        'expandedLanding': [],
        'expandedGetIn': [],
        'saturationRateBefore': [],
        'saturationRateAfter': [],
        'saturationDiff': [],
        'positiveSaturationRateAfter': [],
        'negativeSaturationRateAfter': []
      };

      for(let i=0; i<xAxisLength; i++){
          _yAxisData['expandedGetIn'].push(0);
          _yAxisData['expandedLanding'].push(0);
          _yAxisData['saturationRateBefore'].push(0);
          _yAxisData['saturationRateAfter'].push(0);
          _yAxisData['saturationDiff'].push(0);
          _yAxisData['positiveSaturationRateAfter'].push(0);
          _yAxisData['negativeSaturationRateAfter'].push(0);

          counterByRoute.push(0);
          capacityByRoute.push(0);
      }

      for(let tripIndex=0; tripIndex<tripQuantity; tripIndex++){
        let trip = _trips[tripIndex];

        if(!trip.aggregate){
          continue;
        }

        let key = _xAxisData.indexOf(trip.route);

        _yAxisData['expandedLanding'][key]+=trip.expandedLanding;
        _yAxisData['expandedGetIn'][key]+=trip.expandedGetIn;
        _yAxisData['saturationRateBefore'][key]+=trip.loadProfile;
        _yAxisData['saturationDiff'][key]+=trip.expandedGetIn - trip.expandedLanding;

        counterByRoute[key]+=1;
        capacityByRoute[key]+=trip.busCapacity;
      }

      // it calculates average
      for(let routeIndex=0;routeIndex<xAxisLength;routeIndex++){
        _yAxisData['expandedLanding'][routeIndex]=_yAxisData['expandedLanding'][routeIndex]/counterByRoute[routeIndex];
        _yAxisData['expandedGetIn'][routeIndex]=_yAxisData['expandedGetIn'][routeIndex]/counterByRoute[routeIndex];

        _yAxisData['saturationRateBefore'][routeIndex]=_yAxisData['saturationRateBefore'][routeIndex]/capacityByRoute[routeIndex]*100;
        let percentageAfter = _yAxisData['saturationDiff'][routeIndex]/capacityByRoute[routeIndex]*100;

        let incValue = 0;
        let decValue = 0;
        if(percentageAfter > 0){
          incValue = percentageAfter;
        }else if(percentageAfter < 0){
          decValue = percentageAfter*-1;
        }
        _yAxisData['saturationRateAfter'][routeIndex]=_yAxisData['saturationRateBefore'][routeIndex]+percentageAfter;
        _yAxisData['positiveSaturationRateAfter'][routeIndex]= incValue;
        _yAxisData['negativeSaturationRateAfter'][routeIndex]= decValue;
      }
    };
    this.getAttrGroup = function(attrName, formatFunc=undefined){
      let values = [];
      let dict = {};
      for(let i in _trips){
        let trip = _trips[i];
        if(!trip.aggregate){
          continue;
        }
        let attrValue = trip[attrName];
        attrValue = (formatFunc==undefined?attrValue:formatFunc(attrValue));
        if(dict[attrValue]){
          dict[attrValue]++;
        }else{
          dict[attrValue] = 1;
        }
      }
      for (let name in dict) {
          values.push({'name':name, 'value': dict[name]});
      }
      return values;
    }
    this.getDatatableData = function(){
      let values = [];
      let max = 0;
      for(let i in _trips){
        let trip = $.extend({}, _trips[i]);
        /*if(!trip.aggregate){
          continue;
        }*/
        trip['busDetail'] = trip['licensePlate'] + ' (' + trip['busCapacity'] + ')';
        values.push(trip);
      }
      return {'rows':values};
    }

    this.getDistributionData = function(){

      let globalMax = 0;
      let trips = [];

      for(let i in _trips){
        let trip = _trips[i];
        let tripData = {};
        if(!trip.aggregate){
          continue;
        }
        tripData['name'] = trip['stopTime'];

        let loadProfile = [];
        for(let i=0;i<_xAxisData.length;i++){
          let authStopCode = _xAxisData[i]['authCode'];
          let value = trip.yAxisData['loadProfile'][authStopCode];

          if(globalMax<value){
            globalMax = value;
          }
          loadProfile.push(value);
        }
        tripData['loadProfile'] = loadProfile;
        trips.push(tripData);
      }

      let result = {};
      result['globalMax'] = globalMax;
      result['trips'] = trips;

      return result;
    }
  }

  function ExpeditionApp(){
    let _self = this;
    let _dataManager = new DataManager();
    let _barChart = echarts.init(document.getElementById('barChart'), theme);
    let _wordcloudCharts = [
      echarts.init(document.getElementById('wordcloudChart1'), theme),
      echarts.init(document.getElementById('wordcloudChart2'), theme)];
    let _timePeriodChart = echarts.init(document.getElementById('timePeriodChart'), theme);
    let _datatable = $('#expeditionDetail').DataTable({
      lengthMenu: [[10, 25, 50], [10, 25, 50]],
      language: {
        url: '//cdn.datatables.net/plug-ins/1.10.13/i18n/Spanish.json'
      },
      columns: [
        {
         targets: 0, searchable: false, orderable: false, className: 'text-center', data: 'aggregate',
         render: function (data, type, full, meta){
             return '<input type="checkbox" name="trip' + full.id + '" class="flat" checked>';
         }
        },
        { title: 'Servicio-sentido', data: 'route',   searchable: true},
        { title: 'Patente(capacidad)', data: 'busDetail', searchable: true},
        { title: 'Período de pasada', data: 'stopTimePeriod', searchable: true},
        { title: 'Hora de pasada', data: 'stopTime', searchable: true},
        { title: 'Tipo de día', data: 'dayType', searchable: true},
        { title: 'Carga al llegar', data: 'loadProfile', searchable: true},
        { title: 'Subidas', data: 'expandedGetIn', searchable: true},
        { title: 'Bajadas', data: 'expandedLanding', searchable: true},
        { title: 'Carga al salir', data: 'loadProfile', searchable: true, 
          render: function(data, type, row, meta){
            return data + row.expandedGetIn - row.expandedLanding;
          }
        },
      ],
      order: [[3, 'asc']],
      createdRow: function ( row, data, index ) {
        $(row).addClass('success');
      },
      initComplete: function(settings){
        // Handle click on "Select all" control
        let mainCheckbox = $('#checkbox-select-all');
        mainCheckbox.iCheck({
          labelHover: false,
          cursor: true,
          checkboxClass: 'icheckbox_flat-green',
        });
        mainCheckbox.on('ifToggled', function(event){
          // Get all rows with search applied
          let rows = _datatable.rows({'search':'applied'}).nodes();
          let addToAggr = false;
          let inputs = $('input.flat', rows);
          if(event.target.checked){
            inputs.prop('checked', true);
            $(rows).addClass('success');
            addToAggr = true;
          } else {
            inputs.prop('checked', false);
            $(rows).removeClass('success');
          }
          $('tbody input.flat').iCheck('update');
          let tripIds = _datatable.rows({'search':'applied'}).data().map(function(el){return el.id});
          _dataManager.setAggregate(tripIds, addToAggr);
          _self.updateCharts();
        });
      }
    });
    _datatable.on('search.dt', function (event) {

      let el = $('#checkbox-select-all');
      let tripIds = _datatable.rows({'search':'applied'}).data().map(function(el){ return el.id});
      let resultChecked = _dataManager.checkAllAreAggregate(tripIds);

      if(resultChecked === tripIds.length){
        el.prop('checked', true);
      } else if(resultChecked === 0){
        el.prop('checked', false);
      } else {
        el.prop('checked', false);
        el.prop('indeterminate', true);
      }
      el.iCheck('update');
    });

    this.dataManager = function(dataManager){
      if(dataManager == undefined){
        return _dataManager;
      }
      _dataManager = dataManager;
      this.updateCharts();
      this.updateDatatable();
    }

    let _updateTimePeriodChart = function(){
      let stopTime = _dataManager.getAttrGroup('stopTime', function(attrValue){
        return attrValue.substring(0, 2);
      });
      stopTime = stopTime.sort(function(a, b){
        a = parseInt(a.name);
        b = parseInt(b.name);
        return a-b;
      });
      let hours = stopTime.map(function(el){ return el.name;});
      let values = stopTime.map(function(el, index){ return [index, el.value];});
      let option = {
        tooltip: {
          positon: 'top'
        },
        singleAxis: [{
          type: 'category',
          boundaryGap: false,
          data: hours,
          top: '10%',
          height: '40%',
          axisLabel: {
            interval: 2
          }
        }],
        series: [{
          singleAxisIndex: 0,
          coordinateSystem: 'singleAxis',
          type: 'scatter',
          data: values,
          symbolSize: function (dataItem) {
            return [10, dataItem[1]*0.3];
          },
          tooltip: {
            formatter: function(params){
              let value = params.value[1];
              let name = params.name;
              let timePeriod = '[' + name + ':00, ' + name + ':59]';
              return value + ' expediciones iniciadas entre ' + timePeriod;
            }
          }
        }]
      };
      _timePeriodChart.clear();
      _timePeriodChart.setOption(option,{notMerge: true});
    }

    let _updateWordcloudCharts = function(){
      let lpValues = _dataManager.getAttrGroup('licensePlate');
      let dayTypeValues = _dataManager.getAttrGroup('dayType');

      $('#licensePlateNumber').html('(' + lpValues.length + ')');

      let values = [lpValues, dayTypeValues];
      for(let i=0;i<values.length;i++){
        let chart = _wordcloudCharts[i];

        chart.on('click', function(params){
          console.log(params);
        });

        let options = {
          tooltip: {},
          series: [{
            type: 'wordCloud',
            shape: 'pentagon',
            width: '100%',
            height: '100%',
            sizeRange: [6, 14],
            rotationRange: [0, 0],
            rotationStep: 0,
            gridSize: 8,
            textStyle: {
              normal: {
                color: function () {
                  return 'rgb(' + [
                    Math.round(Math.random() * 160),
                    Math.round(Math.random() * 160),
                    Math.round(Math.random() * 160)
                  ].join(',') + ')';
                }
              },
              emphasis: {
                shadowBlur: 10,
                shadowColor: '#169F85'
              }
            },
            data: values[i]
          }]
        }
        chart.clear()
        chart.setOption(options, {notMerge: true});
      }
    };

    let _updateDatatable = function(){
      let dataset = _dataManager.getDatatableData();
      let rows = dataset['rows']

      _datatable.off('draw');
      _datatable.on('draw', function(oSettings) {
        $('tbody input.flat').iCheck('destroy');
        $('tbody input.flat').iCheck({
          labelHover: false,
          cursor: true,
          checkboxClass: 'icheckbox_flat-green'
        });

        // activate iCheck in checkbox
        let dtRows = _datatable.rows().nodes();
        // attach events check and uncheck
        $('input.flat', dtRows).off('ifToggled');
        $('input.flat', dtRows).on('ifToggled', function(event){
          let tr = $(this).parent().parent().parent();
          let addToAggr = false;
          if(event.target.checked){
            tr.addClass('success');
            addToAggr = true;
          }else{
            tr.removeClass('success');
          }

          // updateChart
          let tripId = parseInt($(this).attr('name').replace('trip', ''));
          _dataManager.setAggregate([tripId], addToAggr);
          _self.updateCharts();
        });
      });
      _datatable.clear();
      _datatable.rows.add(rows);
      _datatable.columns.adjust().draw();
    };

    let _updateBarChart = function(){
      _dataManager.calculateAverage();
      let yAxisData = _dataManager.yAxisData();
      let xAxisData = _dataManager.xAxisData();
      console.log(yAxisData);
      // get out, get in, load profile, percentage ocupation
      let yAxisDataName = ['Subidas promedio', 'Bajadas promedio', 'Tasa ocupación promedio a la llegada '];
      let yChartType = ['bar','bar', 'bar', 'bar', 'bar'];
      let yStack = [null, null, 'stack', 'stack', 'stack'];
      let xGridIndex = [1, 1, 0, 0, 0];
      let yGridIndex = [1, 1, 0, 0, 0];
      let dataName = ['expandedGetIn',
                      'expandedLanding',
                      //'saturationRateBefore',
                      'saturationRateAfter',
                      'positiveSaturationRateAfter',
                      'negativeSaturationRateAfter'];
      let positiveItemStyle = {
        normal: {
          color: "#33CC70",
          barBorderRadius: 0,
          label: {
            show: true, 
            position: 'top',
            formatter: function(p){
              return p.value > 0 ? ('▲' + p.value.toFixed(1) + '%'):'';
            }
          }
        }
      };
      let negativeItemStyle = {
        normal: {
          color: "#C12301",
          barBorderRadius: 0,
          stack: 'stack',
          label: {
            show: true, 
            position: 'top',
            formatter: function(p){
              return p.value > 0 ? ('▼' + p.value.toFixed(1) + '%'):'';
            }
          }
        }
      };

      let yItemStyle = [{}, {}, {}, positiveItemStyle, negativeItemStyle];

      let series = [];
      for (let index=0; index<dataName.length; index++){
        let serie = {
          name: yAxisDataName[index],
          stack: yStack[index],
          type: yChartType[index],
          data: yAxisData[dataName[index]],
          itemStyle: yItemStyle[index],
          xAxisIndex: xGridIndex[index],
          yAxisIndex: yGridIndex[index],
        };
        series.push(serie);
      }

      let options = {
        legend: {
          data: yAxisDataName
        },
        axisPointer: {
          link: [{xAxisIndex: 'all'}],
          snap: true
        },
        toolbox: {
          show : true,
          itemSize: 20,
          left: 'center',
          bottom: '25px',
          feature : {
            mark : {show: false},
            restore : {show: false, title: "restaurar"},
            saveAsImage : {show: true, title: "Guardar imagen", name: _dataManager.getDataName()},
            dataView: {
              show: true,
              title: 'Ver datos',
              lang: ['Datos del gráfico', 'cerrar', 'refrescar'],
              buttonColor: '#169F85',
              readOnly: true
            }
          }
        },
        grid: [
          {x: '10px', y:'30px', height: '38%', right:'0px', containLabel: true},
          {x: '30px', y2:'75px', height: '35%', right: '0px', containLabel: true}
        ],
        xAxis: [
          {gridIndex: 0, type: 'category', data: xAxisData, axisLabel: { show: false}, axisTick: {interval:0}},
          {gridIndex: 1, type: 'category', data: xAxisData, axisLabel: { rotate: 30, interval: 0}}
        ],
        yAxis: [
          {gridIndex: 0, type: 'value', name: 'Porcentaje', max: 100,
            axisLabel: {formatter: '{value} %'}, nameLocation: 'middle', nameGap: 40,
            axisLine: {onZero: false}},
          {gridIndex: 1, type: 'value', name: 'Pasajeros', position: 'left', nameLocation: 'middle', nameGap: 30}
        ],
        series: series,
        tooltip: {
          axisPointer: {
            type: "shadow"
          },
          trigger: 'axis',
          //alwaysShowContent: true,
          formatter: function(params){
            if (Array.isArray(params)){
              params.sort(function(a,b){return a.seriesIndex>b.seriesIndex});
              let xValue = params[0].dataIndex;
              let head = xAxisData[xValue];
              let info = [];
              info.push(head);
              let ball ="<span style='display:inline-block;margin-right:5px;border-radius:10px;width:9px;height:9px;background-color:{}'></span>";
              for(let i=0;i<params.length-1;i++){
                let el = params[i];
                let serieIndex = el.seriesIndex;
                let name = el.seriesName;
                let value = el.value.toFixed(2);
                if(serieIndex==2){ 
                  value = yAxisData['saturationRateBefore'][xValue].toFixed(1) + '%';
                }else if(serieIndex==3){ 
                  let sign = '▲';
                  if(el.value==0){
                    el = params[i+1];
                    sign = '▼';
                  }
                  name = 'Variación';
                  value = sign + el.value.toFixed(1) + '%';
                }
                let colorBall = ball.replace('{}', el.color);
                info.push(colorBall + name + ': ' + value);
              }
              // add saturation rate after
              let saturationRateInfo = ball.replace('{}', '#3145f7') + 'Tasa ocupación promedio a la salida:' + yAxisData['saturationRateAfter'][xValue].toFixed(1)+'%';
              info.push(saturationRateInfo);
              return info.join('<br />');
            } else {
              let title = params.data.name;
              let name = params.seriesName;
              let value = params.value.toFixed(2);
              return title + '<br />' + name + ': ' + value;
            }
          }
        },
      };
      
      _barChart.clear();
      _barChart.setOption(options, {
        notMerge: true
      });
    };

    let _updateGlobalStats = function() {
      $('#expeditionNumber').html(_dataManager.tripsUsed());
      $('#expeditionNumber2').html(_dataManager.tripsUsed());
    };

    this.updateCharts = function(){
      _updateBarChart();
      _updateWordcloudCharts();
      _updateTimePeriodChart();
      _updateGlobalStats();
    };
    this.updateDatatable = function(){
      _updateDatatable();
    };
    this.showLoadingAnimationCharts = function(){
      let loadingText = 'Cargando...';
      _barChart.showLoading(null, {text: loadingText});
      _timePeriodChart.showLoading(null, {text: loadingText});
      for(let i=0;i<_wordcloudCharts.length;i++){
        _wordcloudCharts[i].showLoading(null, {text: loadingText});
      }
    };
    this.hideLoadingAnimationCharts = function(){
      _barChart.hideLoading();
      _timePeriodChart.hideLoading();
      for(let i=0;i<_wordcloudCharts.length;i++){
        _wordcloudCharts[i].hideLoading();
      }
    };
  }

  function showMessage(status){
    let message = status['message'];
    let title = status['title'];
    let type = status['type'];

    new PNotify({
      title: title,
      type: type,
      text: message,
      nonblock: {
        nonblock: true
      },
      styling: 'bootstrap3',
      mouse_reset: false
    }).get().click(function(){
      this.remove();
    });
  };

  function processData(dataSource, app){
    console.log(dataSource);

    if(dataSource['status']){
      let status = dataSource['status'];
      showMessage(status);
      return;
    }

    let stopInfo = dataSource.info;
    let trips = dataSource.trips;
    let dataManager = new DataManager();
    let tripGroupXAxisData = [];

    for(let expeditionId in trips){
      let trip = trips[expeditionId];

      // trip info
      let capacity = trip['capacity'];
      let licensePlate = trip['licensePlate'];
      let route = trip['route'];
      let stopTime = trip['stopTime'];
      let stopTimePeriod = trip['stopTimePeriod'];
      let dayType = trip['dayType'];
      //let distOnPath = trip['distOnPath'];

      let loadProfile = trip['loadProfile'];
      let expandedGetIn = trip['expandedGetIn'];
      let expandedLanding = trip['expandedLanding'];
      //let saturationRate = trip['loadProfile']/capacity*100;

      trip = new Trip(expeditionId, route, licensePlate, capacity, stopTime,
                      stopTimePeriod, dayType, loadProfile, expandedGetIn, expandedLanding);
      dataManager.addTrip(trip);
    }

    dataManager.stopInfo(stopInfo);
    let xAxisData = dataManager.getAttrGroup('route').map(function(el){ return el.name;});
    dataManager.xAxisData(xAxisData);
    app.dataManager(dataManager);
  };

  // load filters
  (function (){
    // set locale
    moment.locale('es');
    // set datetimepickers
    /*
    $('#dateFromFilter').daterangepicker({
      singleDatePicker: true,
      singleClasses: "picker_2",
      languague: 'es'
    });
    $('#dateToFilter').daterangepicker({
      singleDatePicker: true,
      singleClasses: "picker_2",
      languague: 'es'
    });*/

    $('#licensePlateFilter').tagsInput({defaultText: '...', minChars:6});
    $('#expeditionIdFilter').tagsInput({defaultText: '...', minChars:1});
    $('#licensePlateFilter').addTag('BJFS-17');

    $('#dayTypeFilter').select2({placeholder: 'Todos'});
    $('#periodFilter').select2({placeholder: 'Todos'});
    $('#stopFilter').select2({
      placeholder: 'Parada'
    });

    let app = new ExpeditionApp();
    $('#btnUpdateChart').click(function(){
      //let from = $('#dateFromFilter').val();
      //let to = $('#dateToFilter').val();
      let stopCode = $('#stopFilter').val();
      let dayType = $('#dayTypeFilter').val();
      let period = $('#periodFilter').val();
      //let licensePlate = $('#licensePlateFilter').val()!='' ? $('#licensePlateFilter').val().split(','):null;
      //let expeditionId = $('#expeditionIdFilter').val()!='' ? $('#expeditionIdFilter').val().split(','):null;

      /*
      console.log(from);
      console.log(to);
      console.log(stopCode);
      console.log(dayType);
      console.log(period);
      */
      //console.log(licensePlate);
      //console.log(expeditionId);

      let params = {
        //from: from,
        //to: to,
      };
      if (stopCode) {
        params['stopCode'] = stopCode;
      }
      if (dayType) {
        params['dayType'] = dayType;
      }
      if (period) {
        params['period'] = period;
      }
      /*
      if (licensePlate) {
        params['licensePlate'] = licensePlate;
      }
      if (expeditionId) {
        params['expeditionId'] = expeditionId;
      }
      */

      app.showLoadingAnimationCharts();
      let loadingIcon = " <i class='fa fa-cog fa-spin fa-2x fa-fw'>";
      let previousMessage = $(this).html();
      let button = $(this).append(loadingIcon)
      $.getJSON('getStopData', params, function(data){
        processData(data, app);
      })
      .always(function(){
        button.html(previousMessage);
        app.hideLoadingAnimationCharts();
      });
    });
  })()
});
</script>
{% endblock %}
