{% extends 'base.html' %}
{% load static %}

{% block title %}Perfil por expedición{% endblock %}

{% block css %}
{% with "components/gentelella/vendors/" as gentelella_static %}
  <link href="{% static gentelella_static|add:"bootstrap-daterangepicker/daterangepicker.css" %}" rel="stylesheet">
  <link href="{% static gentelella_static|add:"pnotify/dist/pnotify.css" %}" rel="stylesheet">
  <link href="{% static gentelella_static|add:"pnotify/dist/pnotify.buttons.css" %}" rel="stylesheet">
  <link href="{% static gentelella_static|add:"pnotify/dist/pnotify.nonblock.css" %}" rel="stylesheet">
  <link href="{% static gentelella_static|add:"select2/dist/css/select2.min.css" %}" rel="stylesheet">
  <style>
.select2-container .select2-choice:not(.select2-default) {
    background-image: none !important;
    background-color: #D9FFC7;
}
  </style>
{% endwith %}
{% endblock %}

{% block content %}
<div class="">
  <div class="page-title">
    <div class="title_left">
      <h3>Perfil de carga <small>por expedición</small></h3>
    </div>
    <div class="title_right">
    </div>
  </div>
  <div class="clearfix"></div>
  <br />

  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>Filtro <small></small></h2>
          <ul class="nav navbar-right panel_toolbox">
            <li style="float:right"><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
          </ul>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
        <div class="row">
          <div class="col-md-2 col-sm-12 col-xs-12 form-group">
            <label class="control-label" for="filterDateFrom">Desde:</label>
            <input type="text" id="filterDateFrom" placeholder="Desde" class="form-control">
          </div>

          <div class="col-md-2 col-sm-12 col-xs-12 form-group">
            <label class="control-label" for="filterDateTo">Hasta:</label>
            <input type="text" id="filterDateTo" placeholder="Hasta" class="form-control">
          </div>

          <div class="col-md-2 col-sm-12 col-xs-12 form-group">
            <label class="control-label" for="filterRoute">Servicio-sentido:</label>
            <!-- <input type="text" id="filterRoute" placeholder="Servicio sentido" class="form-control">-->
            <select class="form-control" id='filterRoute'>
              {% for route in routes %}
              <option>{{ route }}</option>
              {% endfor %}
            </select>
          </div>

          <div class="col-md-2 col-sm-12 col-xs-12 form-group">
            <label class="control-label" for="filterDayType">Tipo de día:</label>
            <select class="form-control" id='filterDayType' multiple="multiple">
              {% for dayType in dayTypes %}
              <option>{{ dayType }}</option>
              {% endfor %}
            </select>
          </div>

          <div class="col-md-4 col-sm-12 col-xs-12 form-group">
            <label class="control-label" for="filterPeriod">Período:</label>
            <select class="form-control" id='filterPeriod' multiple="multiple">
              {% for period in periods %}
              <option>{{ period }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-sm-12 col-xs-12 form-group">
            <label class="control-label" for="filterLicensePlate">Patente:</label>
            <input type="text" id="filterLicensePlate" placeholder="Patente" class="tags form-control">
          </div>

          <div class="col-md-4 col-sm-12 col-xs-12 form-group">
            <label class="control-label" for="filterLicensePlate">Expedición id:</label>
            <input type="text" id="filterExpeditionId" placeholder="Patente" class="tags form-control">
          </div>
        </div>

          <div class="col-md-12 col-sm-12 col-xs-12 form-group">
            <div class="ln_solid"></div>
            <button type="submit" id="btnUpdateChart" class="btn btn-success btn-lg btn-round">Actualizar datos</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
  <div class="col-md-9 col-sm-9 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Perfil de carga<small>por expedición</small></h2>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <div id="main" style="height:400px;"></div>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-xs-12">
   <div class="x_panel">
      <div class="x_title">
        <h2>Información de expedición</h2>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <div class="tile-stats">
          <div class="icon"><i class="fa fa-bus"></i></div>
          <div class="count" id="route"></div>
          <h3 id="licensePlate"></h3>
        </div>
        <div class="tile-stats">
          <p>Capacidad: <strong id="capacity"></strong></p>
          <p>Hora de inicio: <strong id="timeTripInit"></strong></p>
          <p>Hora de fin: <strong id="timeTripEnd"></strong></p>
        </div>
      </div>
    </div>
  </div>
  </div>

  <div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Distribuciones</small></h2>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <div id="echartDistribution" style="height:400px;"></div>
      </div>
    </div>
  </div>
  </div>
{% endblock %}

{% block js %}
{% with "components/gentelella/vendors/" as gentelella_static %}
<script src="{% static gentelella_static|add:"echarts/dist/echarts.min.js" %}"></script>
<script src="{% static gentelella_static|add:"moment/min/moment-with-locales.min.js" %}"></script>
<script src="{% static gentelella_static|add:"bootstrap-daterangepicker/daterangepicker.js" %}"></script>
<script src="{% static gentelella_static|add:"jquery.tagsinput/src/jquery.tagsinput.js" %}"></script>
<script src="{% static gentelella_static|add:"pnotify/dist/pnotify.js" %}"></script>
<script src="{% static gentelella_static|add:"pnotify/dist/pnotify.buttons.js" %}"></script>
<script src="{% static gentelella_static|add:"pnotify/dist/pnotify.nonblock.js" %}"></script>
<script src="{% static gentelella_static|add:"select2/dist/js/select2.min.js" %}"></script>
{% endwith %}
<script src="{% static "own/js/echartsTheme.js" %}"></script>
<script>
$(document).ready(function(){

  function updateBusInfo(route, licensePlate, capacity, timeTripInit, timeTripEnd) {
    $('#route').html(route + ' ');
    $('#licensePlate').html(licensePlate);
    $('#capacity').html(capacity);
    $('#timeTripInit').html(timeTripInit);
    $('#timeTripEnd').html(timeTripEnd);
  }

  var echartBar = echarts.init(document.getElementById('main'), theme);

  function setChart(data){
    
    echartBar.setOption({
      tooltip: data.tooltip,
      legend: data.legend,
      xAxis: data.xAxis,
      yAxis: data.yAxis,
      series: data.series,
      toolbox: {
        show : true,
        feature : {
          mark : {show: false},
          restore : {show: false, title: "restaurar"},
          saveAsImage : {show: true, title: "Guardar imagen"}
        }
      },
      calculable: false,
    }, {
      notMerge: true
    });
  }
  
  // global option
  function Trip(expeditionId, route, licensePlate, busCapacity, timeTripInit, timeTripEnd, yAxisData) {
    this.expeditionId = expeditionId;
    this.route = route;
    this.licensePlate = licensePlate;
    this.busCapacity = busCapacity;
    this.timeTripInit = timeTripInit;
    this.timeTripEnd = timeTripEnd;
    this.yAxisData = yAxisData;
    this.aggregate = true;
  }

  function App(){
    this._trips = [];
    this._xAxisData = null;
    this._yAxisData = null;
    this.addTrip = function(trip){
      this._trips.push(trip);
    };
    this.xAxisData = function(data){
      if (data == undefined) {
        return this._xAxisData;
      }
      this._xAxisData = data;
    };
    this.clean = function(){
      this._trips = [];
      this._xAxisData = null;
      this._yAxisData = null;
    };
    this._resumeData = function(){
      this._yAxisData = {
        'expandedGetOut': [],
        'expandedGetIn': [],
        'loadProfile': [],
        'saturationRate': []
      };
      var counter = 0;
      var busesCapacity = 0;
      
      for(tripIndex in this._trips){
        var trip = this._trips[tripIndex];
        if(!trip.aggregate){
          continue;
        }
        busesCapacity+=trip.busCapacity;
        // debug
        if (trip.yAxisData['expandedGetOut'][this._xAxisData.name.length]==undefined){
          console.log('viaje con menos datos');
          console.log(trip);
        }
        for(index in this._xAxisData['name']){
          if(tripIndex==0){
            this._yAxisData['expandedGetOut'].push(trip.yAxisData['expandedGetOut'][index]);
            this._yAxisData['expandedGetIn'].push(trip.yAxisData['expandedGetIn'][index]);
            this._yAxisData['loadProfile'].push(trip.yAxisData['loadProfile'][index]);
          } else{
            this._yAxisData['expandedGetOut'][index]+=trip.yAxisData['expandedGetOut'][index];
            this._yAxisData['expandedGetIn'][index]+=trip.yAxisData['expandedGetIn'][index];
            this._yAxisData['loadProfile'][index]+=trip.yAxisData['loadProfile'][index];
          }
        }
        counter++;
        // last iteration -> calculate average
        if(tripIndex==this._trips.length-1){
          //average
          busesCapacity = busesCapacity/counter;
          for(index in this._xAxisData['name']){
            this._yAxisData['expandedGetOut'][index]=this._yAxisData['expandedGetOut'][index]/counter;
            this._yAxisData['expandedGetIn'][index]=this._yAxisData['expandedGetIn'][index]/counter;
            this._yAxisData['loadProfile'][index]=this._yAxisData['loadProfile'][index]/counter;
            this._yAxisData['saturationRate'].push(this._yAxisData['loadProfile'][index]/busesCapacity*100);
          }
        }
      }
    };
    this.updateChart = function(){
      this._resumeData();
      // get out, get in, load profile, percentage ocupation
      var yAxisDataName = ['Bajadas', 'Subidas', 'Carga', 'Porcentaje ocupación'];
      var yAxisIndex = [0, 0, 0, 1];
      var yChartType = ['bar','bar','line','line'];
      var dataName = ['expandedGetOut','expandedGetIn','loadProfile','saturationRate'];

      var series = [];
      for (index in yAxisIndex){
        var serie = {
          name: yAxisDataName[index],
          type: yChartType[index],
          data: this._yAxisData[dataName[index]],
          markPoint: {
            data: [{
               type: 'max', 
               name: 'Máximo'
            }],
            label: {
              normal: {
                formatter: function(param){
                  return param.value.toFixed(2);
                }
              }
            }
          },
          yAxisIndex: yAxisIndex[index],
          smooth: true
        };
        series.push(serie);
      }
      
      var stopName = app._xAxisData['name'];
      var data = {
        legend: {
          data: yAxisDataName
        },
        xAxis: [{
          type: 'category',
          data: this._xAxisData['index']
        }],
        yAxis: [{
          type: 'value',
          name: 'Pasajeros',
          //max: capacity - capacity%10 + 10,
          position: 'left',
        },{
          type: 'value',
          name: 'Porcentaje',
          min: 0,
          max: 100,
          position: 'right',
          axisLabel: {
            formatter: '{value} %'
          }
        }],
        series: series,
        tooltip: {
          trigger: 'axis',
          //alwaysShowContent: true,
          formatter: function(params){
            //console.log(params);
            if (Array.isArray(params)){
              xValue = params[0].dataIndex + 1;
              var head = xValue + ' - ' + stopName[xValue-1] + '<br />';
              var info = [];
              for (index in params){
                el = params[index]
                var ball ="<span style='display:inline-block;margin-right:5px;border-radius:10px;width:9px;height:9px;background-color:" + el.color + "'></span>";
                var name = el.seriesName;
                var value = el.value.toFixed(2);
                info.push(ball + name + ': ' + value);
              }
              return head + info.join('<br />');
            } else {
              var title = params.data.name;
              var name = params.seriesName;
              var value = params.value.toFixed(2);
              return title + '<br />' + name + ': ' + value;
            }
          }
        },
      };
      setChart(data);
    };
  }
  var app = new App();

  function showError(text){ console.log('asdasd');
    new PNotify({
      title: "Error",
      type: "error",
      text: text,
      nonblock: {
        nonblock: true
      },
      styling: 'bootstrap3'
      /*
      hide: false,
      before_close: function(PNotify) {
        PNotify.update({
          title: PNotify.options.title + " - Enjoy your Stay",
          before_close: null
        });

        PNotify.queueRemove();
        return false;
      }*/
    });
  }; 

  function processData(dataSource){
    console.log(dataSource);
 
    if(dataSource['status']){
        var text = dataSource['status']['message'];
        showError(text);
    }
 
    var trips = dataSource.trips;
    app.clean();
    
    for (expeditionId in trips){
      var trip = trips[expeditionId];

      // trip info
      var capacity = trip['info']['capacity'];
      var licensePlate = trip['info']['licensePlate'];
      var route = trip['info']['route'];
      var timeTripInit = trip['info']['timeTripInit'];
      var timeTripEnd = trip['info']['timeTripEnd'];
    
      updateBusInfo(route, licensePlate, capacity, timeTripInit, timeTripEnd);
     
      var stopName = [];
      var order = [];
      var yAxisData = [[], [], [], []];
      var yAxisData = {
        'expandedGetOut': [],
        'expandedGetIn': [],
        'loadProfile': [],
        'saturationRate': []
      };

      for(record in trip['stops']){
        stopName.push(trip['stops'][record]['name']);
        order.push(trip['stops'][record]['order']);
        yAxisData['expandedGetOut'].push(trip['stops'][record]['expandedGetOut']);
        yAxisData['expandedGetIn'].push(trip['stops'][record]['expandedGetIn']);
        yAxisData['loadProfile'].push(trip['stops'][record]['loadProfile']);
        yAxisData['saturationRate'].push((trip['stops'][record]['loadProfile']/capacity)*100);
      }
      
      // set app
      if (app.xAxisData()==null){
        var xAxisData = {
          "name": stopName,
          "index": order
        }
        app.xAxisData(xAxisData);
      }
      var trip = new Trip(expeditionId, route, licensePlate, capacity, timeTripInit, timeTripEnd, yAxisData);
      app.addTrip(trip);
    }
    app.updateChart();
    drawDistribution(app._trips);
  };

  // load filters
  (function (){
    // set locale
    moment.locale('es');
    // set datetimepickers
    $('#filterDateFrom').daterangepicker({
      singleDatePicker: true,
      singleClasses: "picker_2",
      languague: 'es'
    });
    $('#filterDateTo').daterangepicker({
      singleDatePicker: true,
      singleClasses: "picker_2",
      languague: 'es'
    });
  
    $('#filterLicensePlate').tagsInput({defaultText: '...', minChars:6});
    $('#filterExpeditionId').tagsInput({defaultText: '...', minChars:1});
    $('#filterLicensePlate').addTag('BJFS-17');

    $('#filterDayType').select2({placeholder: 'tipo de día'});
    $('#filterPeriod').select2({placeholder: 'Periodo'});
    $('#filterRoute').select2({placeholder: 'Servicio'});
 
    $('#btnUpdateChart').click(function(){
      var from = $('#filterDateFrom').val();
      var to = $('#filterDateTo').val();
      var route = $('#filterRoute').val();
      var licensePlate = $('#filterLicensePlate').val()!='' ? $('#filterLicensePlate').val().split(','):null;
      var dayType = $('#filterDayType').val();
      var period = $('#filterPeriod').val();
      var expeditionId = $('#filterExpeditionId').val()!='' ? $('#filterExpeditionId').val().split(','):null;
   
      console.log(from);
      console.log(to);
      console.log(route);
      console.log(licensePlate);
      console.log(dayType);
      console.log(period);
      console.log(expeditionId);

      var data = {
        from: from,
        to: to,
      };
      if (route) {
        data['route'] = route;
      }
      if (licensePlate) {
        data['licensePlate'] = licensePlate;
      }
      if (dayType) {
        data['dayType'] = dayType;
      }
      if (period) {
        data['period'] = period;
      }
      if (expeditionId) {
        data['expeditionId'] = expeditionId;
      }
      $.getJSON('getExpeditionData', data, processData);
    });
  })()

  //***********************************************************************
  var echartDist = echarts.init(document.getElementById('echartDistribution'), theme);
  function drawDistribution(trips){
    var grids = [];
    var xAxes = [];
    var yAxes = [];
    var series = [];
    var titles = [];
    var count = 0;
    echarts.util.each(trips, function (trip, id) {
      var data = [];
      var N_POINT =trip.yAxisData['loadProfile'].length;
      var max = Math.max(...trip.yAxisData['loadProfile']);
      for (var i = 0; i < N_POINT; i++) {
        var x = i+1;
        var y = trip.yAxisData['loadProfile'][i];
        data.push([x, y]);
      }console.log(data);
      grids.push({
        show: true,
        borderWidth: 0,
        backgroundColor: '#fff',
        shadowColor: 'rgba(0, 0, 0, 0.3)',
        shadowBlur: 2
      });
      xAxes.push({
        type: 'value',
        show: false,
        //min: 0,
        //max: 1,
        gridIndex: count
      });
      yAxes.push({
        type: 'value',
        show: false,
        //min: -0.4,
        max: max + 20,
        gridIndex: count
      });
      var name = trip.expeditionId;console.log(name);
      series.push({
        name: name,
        type: 'bar',
        xAxisIndex: count,
        yAxisIndex: count,
        data: data,
        showSymbol: false,
        animationEasing: name,
        animationDuration: 1000
      });
      titles.push({
        textAlign: 'center',
        text: name,
        textStyle: {
          fontSize: 12,
          fontWeight: 'normal'
        }
      });
      count++;
    });

    var rowNumber = Math.ceil(Math.sqrt(count));
    echarts.util.each(grids, function (grid, idx) {
      grid.left = ((idx % rowNumber) / rowNumber * 100 + 0.5) + '%';
      grid.top = (Math.floor(idx / rowNumber) / rowNumber * 100 + 0.5) + '%';
      grid.width = (1 / rowNumber * 100 - 1) + '%';
      grid.height = (1 / rowNumber * 100 - 1) + '%';

      titles[idx].left = parseFloat(grid.left) + parseFloat(grid.width) / 2 + '%';
      titles[idx].top = parseFloat(grid.top) + '%';
    });
    option = {
      title: titles,
      grid: grids,
      xAxis: xAxes,
      yAxis: yAxes,
      series: series
    };
    echartDist.setOption(option,{notMerge: true});
  }
});
</script>
{% endblock %}
