{% extends 'base.html' %}
{% load static %}

{% block title %}Perfil por expedición{% endblock %}

{% block css %}
{% endblock %}

{% block content %}
<div class="">
  <div class="page-title">
    <div class="title_left">
      <h3>Perfil de carga <small>por expedición</small></h3>
    </div>
    <div class="title_right">
      <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Ingresar número de expedición...">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">Cargar!</button>
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="clearfix"></div>

  <div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Gráfico</h2>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <div id="main" style="height:350px;"></div>
      </div>
    </div>
  </div>


</div>
{% endblock %}

{% block js %}
{% with "components/gentelella/vendors/" as gentelella_static %}
<script src="{% static gentelella_static|add:"echarts/dist/echarts.min.js" %}"></script>
{% endwith %}
<script src="{% static "own/js/echartsTheme.js" %}"></script>
<script>
$(document).ready(function() {

  function loadChart(data) {
    var echartBar = echarts.init(document.getElementById('main'), theme);

    echartBar.setOption({
      title: {
        text: ''
      },
      tooltip: {
        trigger: 'axis'
      },
      legend: {
        data: data.legend
      },
      toolbox: {
        show: false
      },
      calculable: false,
      xAxis: data.xAxis,
      yAxis: data.yAxis,
      series: data.series,
    });
  }

  $.getJSON('getExpeditionData', {idExpedition: 64000}, function(dataSource){
    var trips = dataSource.trips;
    
    for (expeditionId in trips) {
      var trip = trips[expeditionId];

      // trip info
      var capacity = trip['info']['capacity'];
      var licensePlate = trip['info']['licensePlate'];
      var route = trip['info']['route'];
      var timeTripInit = trip['info']['timeTripInit'];
      var timeTripEnd = trip['info']['timeTripEnd'];
    
      // chart data
      var xAxisData = [];
      var yAxisData = [[], [], []];
      var yAxisDataName = ['Bajadas', 'Subidas', 'Carga'];

      for(record in trip['stops']) {
        xAxisData.push(trip['stops'][record]['Correlativo']);
        yAxisData[0].push(trip['stops'][record]['expandedGetOut']);
        yAxisData[1].push(trip['stops'][record]['expandedGetIn']);
        yAxisData[2].push(trip['stops'][record]['loadProfile']);
      }

      var series = [];
      for (index in yAxisData) {
        var serie = {
          name: yAxisDataName[index],
          type: 'line',
          data: yAxisData[index],
          markPoint: {
            data: [{
              type: 'max',
              name: 'Máximo'
            },{
              type: 'min',
              name: 'Mínimo'
            }]
          },
          markLine: {
            data: [{
              type: 'average',
              name: 'Promedio'
            }]
          }
        };
        series.push(serie);
      }
    
      var data = {
        legendName: ['Perfil'],
        xAxis: [{
          type: 'category',
          data: xAxisData
        }],
        yAxis: [{
          type: 'value'
        }],
        series: series
      };

      loadChart(data);
    }
  });
});
</script>
{% endblock %}
