{% extends 'base.html' %}
{% load static %}

{% block title %}Perfil por expedición{% endblock %}

{% block css %}
{% with "components/gentelella/vendors/" as gentelella_static %}
  <link href="{% static gentelella_static|add:"bootstrap-daterangepicker/daterangepicker.css" %}" rel="stylesheet">
  <link href="{% static gentelella_static|add:"pnotify/dist/pnotify.css" %}" rel="stylesheet">
  <link href="{% static gentelella_static|add:"pnotify/dist/pnotify.buttons.css" %}" rel="stylesheet">
  <link href="{% static gentelella_static|add:"pnotify/dist/pnotify.nonblock.css" %}" rel="stylesheet">
  <link href="{% static gentelella_static|add:"select2/dist/css/select2.min.css" %}" rel="stylesheet">
  <style>
.select2-container .select2-choice:not(.select2-default) {
    background-image: none !important;
    background-color: #D9FFC7;
}
  </style>
{% endwith %}
{% endblock %}

{% block content %}
<div class="">
  <div class="page-title">
    <div class="title_left">
      <h3>Perfil de carga <small>por expedición</small></h3>
    </div>
    <div class="title_right">
    </div>
  </div>
  <div class="clearfix"></div>
  <br />

  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>Filtro <small></small></h2>
          <ul class="nav navbar-right panel_toolbox">
            <li style="float:right"><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
          </ul>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
        <div class="row">
          <div class="col-md-2 col-sm-12 col-xs-12 form-group">
            <label class="control-label" for="filterDateFrom">Desde:</label>
            <input type="text" id="filterDateFrom" placeholder="Desde" class="form-control">
          </div>

          <div class="col-md-2 col-sm-12 col-xs-12 form-group">
            <label class="control-label" for="filterDateTo">Hasta:</label>
            <input type="text" id="filterDateTo" placeholder="Hasta" class="form-control">
          </div>

          <div class="col-md-2 col-sm-12 col-xs-12 form-group">
            <label class="control-label" for="filterRoute">Servicio-sentido:</label>
            <!-- <input type="text" id="filterRoute" placeholder="Servicio sentido" class="form-control">-->
            <select class="form-control" id='filterRoute'>
              <option></option>
              {% for route in routes %}
              <option>{{ route }}</option>
              {% endfor %}
            </select>
          </div>

          <div class="col-md-2 col-sm-12 col-xs-12 form-group">
            <label class="control-label" for="filterDayType">Tipo de día:</label>
            <select class="form-control" id='filterDayType' multiple="multiple">
              {% for dayType in dayTypes %}
              <option>{{ dayType }}</option>
              {% endfor %}
            </select>
          </div>

          <div class="col-md-4 col-sm-12 col-xs-12 form-group">
            <label class="control-label" for="filterPeriod">Período:</label>
            <select class="form-control" id='filterPeriod' multiple="multiple">
              {% for period in periods %}
              <option>{{ period }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-sm-12 col-xs-12 form-group">
            <label class="control-label" for="filterLicensePlate">Patente:</label>
            <input type="text" id="filterLicensePlate" placeholder="Patente" class="tags form-control">
          </div>

          <div class="col-md-4 col-sm-12 col-xs-12 form-group">
            <label class="control-label" for="filterLicensePlate">Expedición id:</label>
            <input type="text" id="filterExpeditionId" placeholder="Patente" class="tags form-control">
          </div>
        </div>

          <div class="col-md-12 col-sm-12 col-xs-12 form-group">
            <div class="ln_solid"></div>
            <button type="submit" id="btnUpdateChart" class="btn btn-success btn-lg btn-round">Actualizar datos</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
  <div class="col-md-9 col-sm-9 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Perfil de carga<small>por expedición</small></h2>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <div id="main" style="height:400px;"></div>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-xs-12">
   <div class="x_panel">
      <div class="x_title">
        <h2>Resumen de datos</h2>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <div class="tile-stats">
          <div class="icon"><i class="fa fa-bus"></i></div>
          <div class="count" id="route"></div>
          <h3 id="licensePlate"></h3>
        </div>
        <div class="tile-stats">
          <p>Capacidad: <strong id="capacity"></strong></p>
          <p>Hora de inicio: <strong id="timeTripInit"></strong></p>
          <p>Hora de fin: <strong id="timeTripEnd"></strong></p>
        </div>
        <div id="wordcloudLP" style="height:200px;"></div>
        <!--<div id="wordcloudTime" style="height:100px;"></div>
        <div id="wordcloudCapacity" style="height:100px;"></div>-->
      </div>
    </div>
  </div>
  </div>

  <div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Distribuciones</small></h2>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <div id="echartDistribution" style="height:400px;"></div>
      </div>
    </div>
  </div>
  </div>
{% endblock %}

{% block js %}
{% with "components/gentelella/vendors/" as gentelella_static %}
<script src="{% static gentelella_static|add:"moment/min/moment-with-locales.min.js" %}"></script>
<script src="{% static gentelella_static|add:"bootstrap-daterangepicker/daterangepicker.js" %}"></script>
<script src="{% static gentelella_static|add:"jquery.tagsinput/src/jquery.tagsinput.js" %}"></script>
<script src="{% static gentelella_static|add:"pnotify/dist/pnotify.js" %}"></script>
<script src="{% static gentelella_static|add:"pnotify/dist/pnotify.buttons.js" %}"></script>
<script src="{% static gentelella_static|add:"pnotify/dist/pnotify.nonblock.js" %}"></script>
<script src="{% static gentelella_static|add:"select2/dist/js/select2.min.js" %}"></script>
<script src="{% static "components/echarts/dist/echarts.min.js" %}"></script>
<script src="{% static "components/echarts-wordcloud/dist/echarts-wordcloud.min.js" %}"></script>
{% endwith %}
<script src="{% static "own/js/echartsTheme.js" %}"></script>
<script>
"use strict";
$(document).ready(function(){

  function updateBusInfo(route, licensePlate, capacity, timeTripInit, timeTripEnd) {
    $('#route').html(route + ' ');
    $('#licensePlate').html(licensePlate);
    $('#capacity').html(capacity);
    $('#timeTripInit').html(timeTripInit);
    $('#timeTripEnd').html(timeTripEnd);
  }

  let echartBar = echarts.init(document.getElementById('main'), theme);

  function setChart(data){
    
    echartBar.setOption({
      tooltip: data.tooltip,
      legend: data.legend,
      xAxis: data.xAxis,
      yAxis: data.yAxis,
      series: data.series,
      toolbox: {
        show : true,
        feature : {
          mark : {show: false},
          restore : {show: false, title: "restaurar"},
          saveAsImage : {show: true, title: "Guardar imagen"}
        }
      },
      calculable: false,
    }, {
      notMerge: true
    });
  }
  
  // define logic to manipulate data
  function Trip(expeditionId, route, licensePlate, busCapacity, timeTripInit, timeTripEnd, xAxisData, yAxisData) {
    this.expeditionId = expeditionId;
    this.route = route;
    this.licensePlate = licensePlate;
    this.busCapacity = busCapacity;
    this.timeTripInit = timeTripInit;
    this.timeTripEnd = timeTripEnd;
    this.xAxisData = xAxisData;
    this.yAxisData = yAxisData;
    this.aggregate = true;
  }

  function App(){
    // private variables
    let _trips = [];
    let _xAxisData = null;
    let _yAxisData = null;

    this.trips = function(trips){
      if(trips == undefined){
        return _trips;
      }
      _trips = trips;
    };
    this.addTrip = function(trip){
      _trips.push(trip);
    };
    this.xAxisData = function(data){
      if (data == undefined) {
        return _xAxisData;
      }
      _xAxisData = data;
    };
    this.clean = function(){
      _trips = [];
      _xAxisData = null;
      _yAxisData = null;
    };
    // private method
    let _resumeData = function(){
      // erase previous aggregated data
      let xAxisLength = _xAxisData.length;
      let counterByStop = [];
      let capacityByStop = [];
      let tripQuantity = _trips.length;

      _yAxisData = {
        'expandedGetOut': [],
        'expandedGetIn': [],
        'loadProfile': [],
        'saturationRate': []
      };

      for(let i=0; i<xAxisLength; i++){
          _yAxisData['expandedGetIn'].push(0);
          _yAxisData['expandedGetOut'].push(0);
          _yAxisData['loadProfile'].push(0);
 
          capacityByStop.push(0);
          counterByStop.push(0);
      }
      
      for(let tripIndex=0; tripIndex<tripQuantity; tripIndex++){
        let trip = _trips[tripIndex];
        
        if(!trip.aggregate){
          continue;
        }
        
        for(let stopIndex=0;stopIndex<xAxisLength;stopIndex++){
          let key = _xAxisData[stopIndex]['code'];
          if (trip.yAxisData['expandedGetOut'][key]==undefined){
            continue;
          }
          _yAxisData['expandedGetOut'][stopIndex]+=trip.yAxisData['expandedGetOut'][key];
          _yAxisData['expandedGetIn'][stopIndex]+=trip.yAxisData['expandedGetIn'][key];
          _yAxisData['loadProfile'][stopIndex]+=trip.yAxisData['loadProfile'][key];
          
          capacityByStop[stopIndex]+=trip.busCapacity;
          counterByStop[stopIndex]++;
        }
      }
 
      // it calculates average
      for(let stopIndex=0;stopIndex<xAxisLength;stopIndex++){
        _yAxisData['expandedGetOut'][stopIndex]=_yAxisData['expandedGetOut'][stopIndex]/counterByStop[stopIndex];
        _yAxisData['expandedGetIn'][stopIndex]=_yAxisData['expandedGetIn'][stopIndex]/counterByStop[stopIndex];
        _yAxisData['loadProfile'][stopIndex]=_yAxisData['loadProfile'][stopIndex]/counterByStop[stopIndex];
        _yAxisData['saturationRate'].push((_yAxisData['loadProfile'][stopIndex]/capacityByStop[stopIndex])*100);
      }
    };
    this.updateChart = function(){
      _resumeData();
      // get out, get in, load profile, percentage ocupation
      let yAxisDataName = ['Bajadas', 'Subidas', 'Carga', 'Porcentaje ocupación'];
      let yAxisIndex = [0, 0, 0, 1];
      let yChartType = ['bar','bar','line','line'];
      let dataName = ['expandedGetOut','expandedGetIn','loadProfile','saturationRate'];

      let series = [];
      for (let index=0; index<yAxisIndex.length; index++){
        let serie = {
          name: yAxisDataName[index],
          type: yChartType[index],
          data: _yAxisData[dataName[index]],
          markPoint: {
            data: [{
               type: 'max', 
               name: 'Máximo'
            }],
            label: {
              normal: {
                formatter: function(param){
                  return param.value.toFixed(2);
                }
              }
            }
          },
          yAxisIndex: yAxisIndex[index],
          smooth: true
        };
        series.push(serie);
      }

      let xAxisData = _xAxisData;
      let data = {
        legend: {
          data: yAxisDataName
        },
        xAxis: [{
          type: 'category',
          data: app.xAxisData().map(function(attr){ return attr.order; })
        }],
        yAxis: [{
          type: 'value',
          name: 'Pasajeros',
          //max: capacity - capacity%10 + 10,
          position: 'left',
        },{
          type: 'value',
          name: 'Porcentaje',
          min: 0,
          max: 100,
          position: 'right',
          axisLabel: {
            formatter: '{value} %'
          }
        }],
        series: series,
        tooltip: {
          trigger: 'axis',
          //alwaysShowContent: true,
          formatter: function(params){
            //console.log(params);
            if (Array.isArray(params)){
              let xValue = params[0].dataIndex + 1;
              let head = xValue + '  ' + xAxisData[xValue-1]['code'] + '  ' + xAxisData[xValue-1]['name'] + '<br />';
              let info = [];
              for (let index in params){
                let el = params[index]
                let ball ="<span style='display:inline-block;margin-right:5px;border-radius:10px;width:9px;height:9px;background-color:" + el.color + "'></span>";
                let name = el.seriesName;
                let value = el.value.toFixed(2);
                info.push(ball + name + ': ' + value);
              }
              return head + info.join('<br />');
            } else {
              let title = params.data.name;
              let name = params.seriesName;
              let value = params.value.toFixed(2);
              return title + '<br />' + name + ': ' + value;
            }
          }
        },
      };
      setChart(data);
    };
  }
  var app = new App();

  function showMessage(status){
    let message = status['message'];
    let title = status['title'];
    let type = status['type'];

    new PNotify({
      title: title,
      type: type,
      text: message,
      nonblock: {
        nonblock: true
      },
      styling: 'bootstrap3',
      mouse_reset: false
    }).get().click(function(){
      this.remove();
    });
  }; 

  function processData(dataSource){
    console.log(dataSource);
 
    if(dataSource['status']){
        let status = dataSource['status'];
        showMessage(status);
        return;
    }
 
    let trips = dataSource.trips;
    app.clean();
    
    let appxAxisData = [];

    for(let expeditionId in trips){
      let trip = trips[expeditionId];

      // trip info
      let capacity = trip['info']['capacity'];
      let licensePlate = trip['info']['licensePlate'];
      let route = trip['info']['route'];
      let timeTripInit = trip['info']['timeTripInit'];
      let timeTripEnd = trip['info']['timeTripEnd'];
    
      updateBusInfo(route, licensePlate, capacity, timeTripInit, timeTripEnd);
     
      let yAxisData = {
        'expandedGetOut': {},
        'expandedGetIn': {},
        'loadProfile': {},
        'saturationRate': {}
      };

      let stopQuantity = trip['stops'].length;

      let updateStopsName = false;
      if(appxAxisData.length < stopQuantity){
        updateStopsName = true;
        appxAxisData = [];
      }
      let xAxisData = [];
      for(let stopIndex=0; stopIndex<stopQuantity; stopIndex++){
        let stopInfo = trip['stops'][stopIndex];
        let stopCode = stopInfo['authStopCode'];
        
        if(updateStopsName){
          let xValue = {}
          xValue['name'] = stopInfo['name'];
          xValue['code'] = stopCode;
          xValue['order'] = stopInfo['order'];
          appxAxisData.push(xValue);
        }
        xAxisData.push(stopCode);
        yAxisData['expandedGetOut'][stopCode] = stopInfo['expandedGetOut'];
        yAxisData['expandedGetIn'][stopCode] = stopInfo['expandedGetIn'];
        yAxisData['loadProfile'][stopCode] = stopInfo['loadProfile'];
        yAxisData['saturationRate'][stopCode] = (stopInfo['loadProfile']/capacity)*100;
      }
      
      trip = new Trip(expeditionId, route, licensePlate, capacity, timeTripInit, timeTripEnd, xAxisData, yAxisData);
      app.addTrip(trip);
    }

    app.xAxisData(appxAxisData);
    app.updateChart();
    drawDistribution(app.trips());
    drawWordCloud(app.trips());
  };

  // load filters
  (function (){
    // set locale
    moment.locale('es');
    // set datetimepickers
    $('#filterDateFrom').daterangepicker({
      singleDatePicker: true,
      singleClasses: "picker_2",
      languague: 'es'
    });
    $('#filterDateTo').daterangepicker({
      singleDatePicker: true,
      singleClasses: "picker_2",
      languague: 'es'
    });
  
    $('#filterLicensePlate').tagsInput({defaultText: '...', minChars:6});
    $('#filterExpeditionId').tagsInput({defaultText: '...', minChars:1});
    $('#filterLicensePlate').addTag('BJFS-17');

    $('#filterDayType').select2({placeholder: 'tipo de día'});
    $('#filterPeriod').select2({placeholder: 'Periodo'});
    $('#filterRoute').select2({placeholder: 'Servicio', allowClear: true});
 
    $('#btnUpdateChart').click(function(){
      var from = $('#filterDateFrom').val();
      var to = $('#filterDateTo').val();
      var route = $('#filterRoute').val();
      var licensePlate = $('#filterLicensePlate').val()!='' ? $('#filterLicensePlate').val().split(','):null;
      var dayType = $('#filterDayType').val();
      var period = $('#filterPeriod').val();
      var expeditionId = $('#filterExpeditionId').val()!='' ? $('#filterExpeditionId').val().split(','):null;
   
      console.log(from);
      console.log(to);
      console.log(route);
      console.log(licensePlate);
      console.log(dayType);
      console.log(period);
      console.log(expeditionId);

      let data = {
        from: from,
        to: to,
      };
      if (route) {
        data['route'] = route;
      }
      if (licensePlate) {
        data['licensePlate'] = licensePlate;
      }
      if (dayType) {
        data['dayType'] = dayType;
      }
      if (period) {
        data['period'] = period;
      }
      if (expeditionId) {
        data['expeditionId'] = expeditionId;
      }
   
      let loading = " <i class='fa fa-cog fa-spin fa-2x fa-fw'>";
      let button = $(this).append(loading) 
      $.getJSON('getExpeditionData', data, processData)
      .always(function(){
        button.html('Actualizar datos')
      });
    });
  })()

  //***********************************************************************
  var echartDist = echarts.init(document.getElementById('echartDistribution'), theme);
  function drawDistribution(trips){
    let grids = [];
    let xAxes = [];
    let yAxes = [];
    let series = [];
    let titles = [];
    let count = 0;
    let globalMax = 0;
    echarts.util.each(trips, function (trip, id) {
      let data = [];
      let N_POINT =trip.xAxisData.length;
      // order load profile based on stop sequence
      let loadProfileData = trip.xAxisData.map(function(code){ 
        return trip.yAxisData['loadProfile'][code]; 
      });
      let max = Math.max(...loadProfileData.filter(function(el){ return el !== undefined;}));
      globalMax = max > globalMax ? max:globalMax;
      for (let i=0; i<N_POINT; i++) {
        let x = i+1;
        let y = loadProfileData[i];
        data.push([x, y]);
      }
      grids.push({
        show: true,
        borderWidth: 0,
        backgroundColor: '#fff',
        shadowColor: 'rgba(0, 0, 0, 0.3)',
        shadowBlur: 2
      });
      xAxes.push({
        type: 'value',
        show: false,
        //min: 0,
        //max: 1,
        gridIndex: count
      });
      yAxes.push({
        type: 'value',
        show: false,
        //min: -0.4,
        max: max + 20,
        gridIndex: count
      });
      let name = trip.expeditionId;
      series.push({
        name: name,
        type: 'bar',
        xAxisIndex: count,
        yAxisIndex: count,
        data: data,
        showSymbol: false,
        animationEasing: name,
        animationDuration: 1000
      });
      titles.push({
        textAlign: 'center',
        text: name,
        textStyle: {
          fontSize: 12,
          fontWeight: 'normal'
        }
      });
      count++;
    });
  
    for (let index in yAxes) {
      yAxes[index].max = globalMax;
    }

    let rowNumber = Math.ceil(Math.sqrt(count));
    echarts.util.each(grids, function (grid, idx) {
      grid.left = ((idx % rowNumber) / rowNumber * 100 + 0.5) + '%';
      grid.top = (Math.floor(idx / rowNumber) / rowNumber * 100 + 0.5) + '%';
      grid.width = (1 / rowNumber * 100 - 1) + '%';
      grid.height = (1 / rowNumber * 100 - 1) + '%';

      titles[idx].left = parseFloat(grid.left) + parseFloat(grid.width) / 2 + '%';
      titles[idx].top = parseFloat(grid.top) + '%';
    });
    let option = {
      title: titles,
      grid: grids,
      xAxis: xAxes,
      yAxis: yAxes,
      series: series
    };
    echartDist.setOption(option,{notMerge: true});
  }

  function drawWordCloud(trips){
    let lpValues = [];
    let lpDict = {};
    for(let i in trips){
      let trip = trips[i];
      let licensePlate = trip['licensePlate']
      if(lpDict[licensePlate]){
        lpDict[licensePlate]++;
      }else{
        lpDict[licensePlate] = 1;
      }
    }
    for (let licensePlate in lpDict) {
        lpValues.push({'name':licensePlate, 'value': lpDict[licensePlate]});
    }
    var chart = echarts.init(document.getElementById('wordcloudLP'));
    var option = {
      tooltip: {},
      grid: [
        {x: '7%', y: '7%', width: '38%', height: '38%'},
        {x: '50%', y: '7%', width: '38%', height: '38%'},
      ],
      series: [{
        type: 'wordCloud',
        xAxisIndex: 0,
        yAxisIndex: 0,
        shape: 'circle',
        sizeRange: [12, 60],
        rotationRange: [0, 0],
        rotationStep: 0,
        gridSize: 2,
        textStyle: {
          normal: {
            color: function () {
              return 'rgb(' + [
                Math.round(Math.random() * 160),
                Math.round(Math.random() * 160),
                Math.round(Math.random() * 160)
              ].join(',') + ')';
            }
          },
          emphasis: {
            shadowBlur: 10,
            shadowColor: '#333'
          }
        },
        data: lpValues
      },{
        type: 'wordCloud',
        xAxisIndex: 1,
        yAxisIndex: 1,
        shape: 'circle',
        sizeRange: [12, 60],
        rotationRange: [0, 0],
        rotationStep: 0,
        gridSize: 2,
        textStyle: {
          normal: {
            color: function () {
              return 'rgb(' + [
                Math.round(Math.random() * 160),
                Math.round(Math.random() * 160),
                Math.round(Math.random() * 160)
              ].join(',') + ')';
            }
          },
          emphasis: {
            shadowBlur: 10,
            shadowColor: '#333'
          }
        },
        data: lpValues
      }]
    };
    chart.setOption(option);
  }
});
</script>
{% endblock %}
