{% extends 'admin/base.html' %}
{% load static %}

{% block title %}Mapa{% endblock %}

{% block css %}
  <!-- leaflet -->
  <link rel="stylesheet" href="{% static "components/leaflet/dist/leaflet.css" %}">
  <link rel="stylesheet" href="{% static "components/Leaflet.EasyButton/src/easy-button.css" %}">
  <link rel="stylesheet" href="{% static "components/leaflet-control-window/src/L.Control.Window.css" %}">
  <style>
    .info {
      padding: 6px 8px;
      font: 14px/16px Arial, Helvetica, sans-serif;
      background: white;
      background: rgba(255,255,255,0.8);
      box-shadow: 0 0 15px rgba(0,0,0,0.2);
      border-radius: 5px;
    } 
    .info h4 {
      margin: 0 0 5px;
      color: #777;
    }

    .legend {
      line-height: 18px;
      color: #555;
    }
    .legend i {
      width: 18px;
      height: 18px;
      float: left;
      margin-right: 8px;
      opacity: 0.8;
    }
  </style>
{% endblock %}

{% block content %}
{% endblock %}

{% block js %}
  <script src="{% static "components/leaflet/dist/leaflet.js" %}"></script>
  <script src="{% static "components/leaflet-polylinedecorator/leaflet.polylineDecorator.js" %}"></script>
  <script src="{% static "components/Leaflet.EasyButton/src/easy-button.js" %}"></script>
  <script src="{% static "components/leaflet-control-window/src/L.Control.Window.js" %}"></script>
  <script>
    $(document).ready(function() { 
      /**
       * To calculate the distance of polyline
       *
       */
       L.Polyline.prototype.length_in_meters = function () {
         var metros_totales_ruta = 0;
         var coordenadas_iniciales = null;
         var array_coordenadas_polilinea = this._latlngs;

         for (i = 0; i < array_coordenadas_polilinea.length - 1; i++) {
           coordenadas_iniciales = array_coordenadas_polilinea[i];
           metros_totales_ruta  += coordenadas_iniciales.distanceTo(array_coordenadas_polilinea[i + 1]);
         }
         //redondear los metros de la ruta...
         metros_totales_ruta = metros_totales_ruta.toFixed();
         return metros_totales_ruta;
       };

       /**
        * CREATE NEW SYMBOL TO POLYLINE DECORATOR
        */
       L.Symbol.LongArrowHead = L.Class.extend({
         isZoomDependant: true,
    
         options: {
           polygon: true,
           pixelSize: 10,
           headAngle: 60,
           pathOptions: {
             stroke: false,
             weight: 2
           }
         },
    
         initialize: function (options) {
           L.Util.setOptions(this, options);
           this.options.pathOptions.clickable = false;
         },

         buildSymbol: function(dirPoint, latLngs, map, index, total) {
           var opts = this.options;
           var path;
           if(opts.polygon) {
             path = new L.Polygon(this._buildArrowPath(dirPoint, map), opts.pathOptions);
           } else {
             path = new L.Polyline(this._buildArrowPath(dirPoint, map), opts.pathOptions);
           }
           return path;
         },
    
         _buildArrowPath: function (dirPoint, map) {
           var d2r = Math.PI / 180;
           var tipPoint = map.project(dirPoint.latLng);
           var direction = (-(dirPoint.heading - 90)) * d2r;
           var radianArrowAngle = this.options.headAngle / 2 * d2r;
        
           var headAngle1 = direction + radianArrowAngle,
                            headAngle2 = direction - radianArrowAngle;
                            headAngle3 = direction + 0;
                            headAngle4 = direction - 0;
                            headAngle5 = direction - radianArrowAngle;
           var arrowHead1 = new L.Point(
             tipPoint.x - this.options.pixelSize * Math.cos(headAngle1),
             tipPoint.y + this.options.pixelSize * Math.sin(headAngle1)),
               arrowHead2 = new L.Point(
             tipPoint.x - this.options.pixelSize * Math.cos(headAngle2),
             tipPoint.y + this.options.pixelSize * Math.sin(headAngle2)),
               arrowBack1 = new L.Point(
             arrowHead1.x - (this.options.pixelSize*1.5) * Math.cos(headAngle3),
             arrowHead1.y + (this.options.pixelSize*1.5) * Math.sin(headAngle3)),
               arrowBack2 = new L.Point(
             arrowHead2.x - (this.options.pixelSize * 1.5) * Math.cos(headAngle4),
             arrowHead2.y + (this.options.pixelSize * 1.5) * Math.sin(headAngle4)),
               arrowBackCenter = new L.Point(
             arrowBack2.x + this.options.pixelSize * Math.cos(headAngle5),
             arrowBack2.y - this.options.pixelSize * Math.sin(headAngle5));
                        
           return [
             map.unproject(arrowBack1),
             map.unproject(arrowHead1),
             dirPoint.latLng, 
             map.unproject(arrowHead2),
             map.unproject(arrowBack2),
             map.unproject(arrowBackCenter),
           ];
         }
       });

       L.Symbol.longArrowHead = function (options) {
         return new L.Symbol.LongArrowHead(options);
       };

	   var currentHour = "";
       /**
        * SET MAP
        */
       var beauchefLocation = L.latLng(-33.457910, -70.663869);
	   var mapid = $(".right_col")[0];
       var map = L.map(mapid, {
         editable: true,
         closePopupOnClick: false
       }).setView(beauchefLocation, 13);
       var layers = {};
       var blackStyle='https://api.mapbox.com/styles/v1/mapbox/dark-v9/tiles/256/{z}/{x}/{y}?access_token=pk.eyJ1IjoidHJhbnNhcHAiLCJhIjoiY2lzbjl6MDQzMDRkNzJxbXhyZWZ1aTlocCJ9.-xsBhulirrT0nMom_Ay9Og';
       var attribution = 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
                         'Imagery © <a href="http://mapbox.com">Mapbox</a>';
       var blackLayer = L.tileLayer(blackStyle, {attribution: attribution});
       blackLayer.addTo(map);
       var mapControl = L.control.layers({}, {}).addTo(map);

       // color for line
       var getColor = function (d) {
         return d <  0  ? '#c4c4c4' :
                d <= 180 ? '#59F000' :
                d <= 240 ? '#F1FE00' :
                d <= 300 ? '#FF7400' :
                d <= 360 ? '#FF0000' :
                          '#68266F';
       };

       /**
        * DEFINE INFO
        */
	   /*
	   L.easyButton('fa-info', function(btn, map) {
	     var win = L.control.window(map, {
           title:'Segundos por kilómetro', 
		   content:'Los datos que se muestran consideran los puntos GPS de los buses de los últimos 15 minutos.',
		   modal: true,
		   position: 'top'
		 }).show()
	   }).addTo(map);
	   */

       /**
        * HIDE OR SHOW ALL 
        */
	   L.easyButton({
		 position: 'topright',
		 leafletClasses: true,
         states:[
		   {
		     stateName: 'show-streets',
		     title: 'show all streets',
		     icon: 'fa-check-square-o fa-lg',
		     onClick: function(control){ 
               $.each(layers, function(i, l){
                 map.removeLayer(l.layer);
               });
			   control.state('hide-streets');
			 }
		   }, {
		     stateName: 'hide-streets',
		     title: 'hide all streets',
		     icon: 'fa-square-o fa-lg',
		     onClick: function(control){ 
               $.each(layers, function(i, l){
                 l.layer.addTo(map);
               });
			   control.state('show-streets');
		     }
		   }
		 ]
	   }).addTo(map);

	   /*
       var info = L.control({position: 'topright'});

       info.onAdd = function (map) {
         this._div = L.DomUtil.create('div', 'info'); // create a div with a class "info"
         this._div.innerHTML = '<h4>Velocidad por eje</h4>' + 
           '<b>Muestra de las velocidades presente en los ejes principales de Santiago de chile</b>' + 
           '<br /> Los datos mostrados consideran la velocidad de los buses de los últimos 15 minutos.' +
           '<br /> que recorren las calles señaladas.' + 
           '<br /><h5>Indicar destino</h5>' +
           '<select id="destination" class="form-control">' +
           '</select>';
         return this._div;
       };
       info.addTo(map);
	   */
                
       /**
        * DEFINE LEGEND
        */
        var legend = L.control({position: 'bottomright'});
        legend.onAdd = function (map) {
          var div = L.DomUtil.create('div', 'info legend'),
          grades = [0, 180, 240, 300, 360],
          labels = [];

          // loop through our density intervals and generate a label with a colored square for each interval
          for (var i = 0; i < grades.length; i++) {
            div.innerHTML +=
              '<i style="background:' + getColor(grades[i] + 1) + '"></i> ' +
              grades[i] + (grades[i + 1] ? '&ndash;' + grades[i + 1] + '<br>' : '+');
          }

          return div;
        }; 
        legend.addTo(map);

       /**
        * DEFINE HOUR
        */
        var hourControl = L.control({position: 'bottomleft'});
        hourControl.onAdd = function (map) {
          var div = L.DomUtil.create('div', 'info hour');
	      div.innerHTML = '<i class="fa fa-clock-o fa-lg" aria-hdden="true"></i> <span id="hourInfo">12:00-12:15</span>';
          return div;
        }; 
        hourControl.addTo(map);

        /**
         * DEFINE DRAW FUNCTIONS 
         */
        function drawPolylineDecorator(name, street) {
                     
          var overlay = L.featureGroup([]);
          var streetName = name;
          var streetTime = street.time

          $.each(street.sections, function(i, section){
            var latLngs = [];
            var metrics = section.segxkm;
            var sectionTime = section.time;
            var points = section.points;
            var origin = section.originStreet;
            var destination = section.destinationStreet;
                            
            // order by distOnRoute
            points.sort(function(a, b) {
              return a.distOnRoute - b.distOnRoute;
            });
    
            $.each(points, function(i2, point){
              latLngs.push([point.latitude, point.longitude]);
            });

            var line = L.polyline(latLngs, {color: getColor(metrics)});
            overlay.addLayer(line);
            var patternsOpts = [
              // defines a pattern of 10px-wide dashes, repeated every 20px on the line
              {offset: 10, endOffset: 5, repeat: '5%', symbol: 
                L.Symbol.longArrowHead({rotate: true,
                //L.Symbol.arrowHead({rotate: true,
                  pixelSize: 5, 
                  polygon: true, 
                  pathOptions: {
                    color: getColor(metrics), 
                    stroke: false,
                    fillColor: getColor(metrics),
                    fillOpacity: 1.0
                  }
              })}
            ]

            var decorator = L.polylineDecorator(line, {
              patterns: patternsOpts                          
            });
            var text = metrics + " seg/km";
            if (metrics <=0) {
              text = 'Falta info.';
            }
            var message = "<h1>" + text + "</h1><h4>Eje: " + name + "</h4><h5>Origen: " + origin + "</h5><h5>Destino: " + destination + "</h5>";
            decorator.bindPopup(message);
            line.bindPopup(message);
            overlay.addLayer(decorator);

            //********************************************************/
            // animation
            var arrowOffset = 0;
            patternsOpts[0].repeat = 0;
            var anim = window.setInterval(function() {
              patternsOpts[0].offset = arrowOffset + '%';
              decorator.setPatterns(patternsOpts);
              if(arrowOffset > 100)
                arrowOffset = 0;
              arrowOffset = arrowOffset + (3600/metrics/3.6)/3;
            }, 50);
            //********************************************************/
            });
                        
            console.log("Map updated with polyline decorator");

            return overlay;
          };

          //var POIsOverlay = L.layerGroup([]);
          //POIsOverlay.addTo(map);
          //mapControl.addOverlay(POIsOverlay, 'POIs');
          /*
          function drawPOIs(data) {
                    
            POIsOverlay.clearLayers();

            $.each(data, function(i, poi){
              var paramName = "Nombre: " + poi.name;
              //var paramOrigin = "Origen: " + poi.origin;
              //var paramDestination = "Destino: " + poi.destination;
              var paramZone = "Zona: " + poi.zone;
              //var paramStreet = "Calle: " + poi.street;
              var params = [];
              params.push(paramName);
              //params.push(paramOrigin);
              //params.push(paramDestination);
              params.push(paramZone);
              //params.push(paramStreet);
              params = params.join("<br />");

              var marker = L.marker([poi.latitude, poi.longitude], {
                icon: L.icon({
                  iconUrl: 'http://icons.iconarchive.com/icons/custom-icon-design/mono-business/16/target-icon.png',
                  iconSize: [16, 16]
                })
              }).bindPopup("<p>" + params + "</p>");
              POIsOverlay.addLayer(marker);
            });

            console.log("Map updated with POIs");
          }*/

          var groupPanelData = {};
          var updateMap = function(data, hour){
             
			// update map
            $('#hourInfo').text(hour);

            // remove currents layers from map
            $.each(layers, function(i, l){
              map.removeLayer(l.layer);
              mapControl.removeLayer(l.layer);
            });
            layers = [];
			var bounds = null;
 
            // each zone
            $.each(data, function(zone, streets) {
              // draw street
              $.each(streets, function(name, street) {
                var layer = drawPolylineDecorator(name, street);
                layers.push({
                  name: name,
                  layer: layer
                });
				if (!bounds) {
                  bounds = layer.getBounds();
				} else {
                  bounds = bounds.extend(layer.getBounds());
				}
              });
            });

            // add layers to map and control
            $.each(layers, function(i, l){
              l.layer.addTo(map);
              mapControl.addOverlay(l.layer, l.name);
            });

			map.fitBounds(bounds);
          };

          var streetsData = {};
		  /*
          var poisData = {};
          function getPoisData() {
            var destination = $("#destination option:selected").val();
            var origins = poisData[destination];
            var pois = [];
        
            $.each(origins, function (i, origin){
              $.each(origin, function (name, points){
                pois = pois.concat(points);
              });
            });
        
            return pois;
          }*/
          
		  function downloadData() {
            $.ajax({
              url: "getStreetData",
              success: function(data){

                // Add option to see all streets together
                var all = {};
                $.each(data.Destination, function(i,origin){
                  $.each(origin, function(i,v){
                    all = $.extend(all, v);
                  });
                });
                streetsData = data.Destination;
                streetsData = $.extend(data.Destination,{'Todos': {'Todos': all}});
         
		  	    /*
                $.ajax({
                  url: "getPOIData",
                  success: function(data){
                    poisData = data.Destination;
                    drawPOIs(getPoisData());
                  }
                });*/

				if (currentHour != data.hour) {
				  currentHour = data.hour
                  updateMap(streetsData['Todos'], data.hour);
                  //drawPOIs(getPoisData());
				}
              }
            });
          };
		  downloadData();
		  setInterval(downloadData, 5*1000);
        });
  </script>

{% endblock %}
