{% extends 'admin/base_site.html' %}
{% load static %}

{% block title %}Perfil a través de trayectoria{% endblock %}

{% block css %}
{% with "components/gentelella/vendors/" as gentelella_static %}
  <link href="{% static gentelella_static|add:"bootstrap-daterangepicker/daterangepicker.css" %}" rel="stylesheet">
  <link href="{% static gentelella_static|add:"select2/dist/css/select2.min.css" %}" rel="stylesheet">
<!-- iCheck -->
  <link href="{% static gentelella_static|add:"iCheck/skins/flat/green.css" %}" rel="stylesheet">

  <link href="{% static gentelella_static|add:"datatables.net-bs/css/dataTables.bootstrap.min.css" %}" rel="stylesheet">
  <link href="{% static gentelella_static|add:"datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" %}" rel="stylesheet">
  <link href="{% static gentelella_static|add:"datatables.net-responsive-bs/css/responsive.bootstrap.min.css" %}" rel="stylesheet">
  <link href="{% static gentelella_static|add:"datatables.net-scroller-bs/css/scroller.bootstrap.min.css" %}" rel="stylesheet">
  <link href="{% static gentelella_static|add:"datatables.net-scroller-bs/css/scroller.bootstrap.min.css" %}" rel="stylesheet">
  <style>
.select2-container .select2-choice:not(.select2-default) {
    background-image: none !important;
    background-color: #D9FFC7;
}
  </style>
{% endwith %}
{% endblock %}

{% block content %}
<div class="">
  <div class="page-title">
    <div class="title_left">
      <h3>Perfil de carga <small>por trayectoria</small></h3>
    </div>
    <div class="title_right">
    </div>
  </div>
  <div class="clearfix"></div>
  <br />

  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2><i class="fa fa-filter"></i> Filtro <small></small></h2>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <!--
          <div class="col-md-2 col-sm-12 col-xs-12 form-group">
            <label class="control-label" for="dateFromFilter">Desde:</label>
            <input type="text" id="dateFromFilter" placeholder="Desde" class="form-control">
          </div>

          <div class="col-md-2 col-sm-12 col-xs-12 form-group">
            <label class="control-label" for="dateToFilter">Hasta:</label>
            <input type="text" id="dateToFilter" placeholder="Hasta" class="form-control">
          </div>
          -->
          <div class="col-md-2 col-sm-12 col-xs-12 form-group">
            <label class="control-label" for="dateFromFilter">Día:</label>
            <select type="text" id="dayFilter" placeholder="Día" class="form-control">
              {% for day in days %}
              <option>{{ day }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="col-md-2 col-sm-12 col-xs-12 form-group">
            <label class="control-label" for="routeFilter">Servicio-sentido:</label>
            <!-- <input type="text" id="routeFilter" placeholder="Servicio sentido" class="form-control">-->
            <select class="form-control" id='routeFilter'>
              {% for route in routes %}
              <option>{{ route }}</option>
              {% endfor %}
            </select>
          </div>

          <div class="col-md-2 col-sm-12 col-xs-12 form-group">
            <label class="control-label" for="dayTypeFilter">Tipo de día:</label>
            <select class="form-control" id='dayTypeFilter' multiple="multiple">
              {% for dayType in dayTypes %}
              <option>{{ dayType }}</option>
              {% endfor %}
            </select>
          </div>

          <div class="col-md-4 col-sm-12 col-xs-12 form-group">
            <label class="control-label" for="periodFilter">Período:</label>
            <select class="form-control" id='periodFilter' multiple="multiple">
              {% for period in periods %}
              <option>{{ period }}</option>
              {% endfor %}
            </select>
          </div>
          <!--
          <div class="row">
            <div class="col-md-4 col-sm-12 col-xs-12 form-group">
              <label class="control-label" for="licensePlateFilter">Patente:</label>
              <input type="text" id="licensePlateFilter" placeholder="Patente" class="tags form-control">
            </div>

            <div class="col-md-4 col-sm-12 col-xs-12 form-group">
              <label class="control-label" for="licensePlateFilter">Expedición id:</label>
              <input type="text" id="expeditionIdFilter" placeholder="Patente" class="tags form-control">
            </div>
          </div>-->
          <div class="col-md-12 col-sm-12 col-xs-12 form-group">
            <div class="ln_solid"></div>
            <button type="submit" id="btnUpdateChart" class="btn btn-success btn-lg btn-round">Actualizar datos</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2><i class="fa fa-bar-chart"></i> Perfil de carga con trayectoria<small> para <strong id="expeditionNumber">N</strong> expediciones</small></h2>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div id="barChart" style="height:800px;"></div>
        </div>
      </div>
    </div>
  </div>
  </div>

  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2><i class="fa fa-truck"></i> Expediciones (<strong id="expeditionNumber2">N</strong>)</h2>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <table id="expeditionDetail" class="table table-striped table-bordered dt-responsive table-condensed nowrap" width="100%">
            <thead>
              <tr>
              <th style="padding-right:5px;"><input type="checkbox" id="checkbox-select-all" class="flat" checked></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              </tr>
            </thead>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block js %}
{% with "components/gentelella/vendors/" as gentelella_static %}
<script src="{% static gentelella_static|add:"moment/min/moment-with-locales.min.js" %}"></script>
<script src="{% static gentelella_static|add:"bootstrap-daterangepicker/daterangepicker.js" %}"></script>
<script src="{% static gentelella_static|add:"jquery.tagsinput/src/jquery.tagsinput.js" %}"></script>
<script src="{% static gentelella_static|add:"select2/dist/js/select2.min.js" %}"></script>

<script src="{% static gentelella_static|add:"datatables.net/js/jquery.dataTables.min.js" %}"></script>
<script src="{% static gentelella_static|add:"datatables.net-bs/js/dataTables.bootstrap.min.js" %}"></script>
<script src="{% static gentelella_static|add:"datatables.net-fixedheader/js/dataTables.fixedHeader.min.js" %}"></script>
<script src="{% static gentelella_static|add:"datatables.net-responsive/js/dataTables.responsive.min.js" %}"></script><script src="{% static gentelella_static|add:"datatables.net-responsive-bs/js/responsive.bootstrap.js" %}"></script>
<script src="{% static gentelella_static|add:"datatables.net-scroller/js/dataTables.scroller.min.js" %}"></script>

<script src="{% static gentelella_static|add:"jquery-sparkline/dist/jquery.sparkline.min.js" %}"></script>
<script src="{% static gentelella_static|add:"iCheck/icheck.min.js" %}"></script>

<script src="{% static "components/echarts/dist/echarts.min.js" %}"></script>

{% endwith %}
<script src="{% static "js/echartsTheme.js" %}"></script>
<script>
"use strict";
$(document).ready(function(){

  // define logic to manipulate data
  function Trip(expeditionId, 
                route, 
                licensePlate, 
                busCapacity, 
                timeTripInit, 
                timeTripEnd, 
                authTimePeriod, 
                dayType, 
                data) {
    this.expeditionId = expeditionId;
    this.route = route;
    this.licensePlate = licensePlate;
    this.busCapacity = busCapacity;
    this.timeTripInit = timeTripInit;
    this.timeTripEnd = timeTripEnd;
    this.authTimePeriod = authTimePeriod;
    this.dayType = dayType;
    this.data = data;
    this.visible = true;
  }

  /*
   * to manage grouped data
   */
  function DataManager(){
    // trips
    let _trips = [];
    // trips are visible
    let _visibleTrips = 0;
    let _yAxisData = [];
    this.getDataName = function(){
      const FILE_NAME = 'Trayectorias con perfil de carga ';
      if(_trips.length>0){
        return FILE_NAME + _trips[0]['route'];
      }
      return '';
    };
    this.trips = function(trips){
      if(trips === undefined){
        return _trips;
      }
      _visibleTrips=0;
      for(let i=0;i<tripIdArray.length; i++){
        if(trips[i]['visible']){
          _visibleTrips++;
        }
      }
      _trips = trips;
    };
    this.addTrip = function(trip){
      // create trip identifier
      if(trip['visible']){
        _visibleTrips++;
      }
      trip['id'] = _trips.length;
      _trips.push(trip);
    };
    this.tripsUsed = function(){
      return _visibleTrips;
    };
    this.yAxisData = function(data){
      if(data === undefined){
        return _yAxisData;
      }
      _yAxisData = data;
    };
    this.cleanData = function(){
      _trips = [];
      _visibleTrips = 0;
    };
    this.setVisibility = function(tripIdArray, value){
      for(let i=0;i<tripIdArray.length; i++){
       let tripId = tripIdArray[i];
       if(_trips[tripId]['visible'] !== value){
         if(value === false){
           _visibleTrips--;
         }else{
           _visibleTrips++;
         }
       }
       _trips[tripId]['visible'] = value;
      }
    };
    this.checkAllAreAggregate = function(tripIdArray){
      let result = tripIdArray.length;
      for(let i=0;i<tripIdArray.length; i++){
       let tripId = tripIdArray[i];
       if(!_trips[tripId]['visible']){
         result--;
       }
      }
      return result;
    };
    this.getAttrGroup = function(attrName, formatFunc=undefined){
      let values = [];
      let dict = {};
      for(let i in _trips){
        let trip = _trips[i];
        if(!trip.visible){
          continue;
        }
        let attrValue = trip[attrName];
        attrValue = (formatFunc===undefined?attrValue:formatFunc(attrValue));
        if(dict[attrValue]){
          dict[attrValue]++;
        }else{
          dict[attrValue] = 1;
        }
      }
      for(let name in dict) {
        values.push({'name':name, 'value': dict[name]});
      }
      return values;
    };
    this.getDatatableData = function(){
      let values = [];
      let max = 0;
      for(let i in _trips){
        let trip = $.extend({}, _trips[i]);
        /*if(!trip.visible){
          continue;
        }*/
        trip['busDetail'] = trip['licensePlate'] + ' (' + trip['busCapacity'] + ')';
        let loadProfile = [];
        let hasNegativeValue = false;
        for(let i=0;i<trip.data.length;i++){
          let value = trip.data[i][2];
          if(value !== undefined && value<0){
            hasNegativeValue = true;
          }
          if(max<value){
            max = value;
          }
          loadProfile.push(value);
        }
        trip['sparkLoadProfile'] = loadProfile;
        trip['hasNegativeValue'] = hasNegativeValue;
        values.push(trip);
      }
      return {
        rows: values, 
        maxHeight: max
      };
    }
  }

  function ExpeditionApp(){
    let _self = this;
    let _dataManager = new DataManager();
    let _barChart = echarts.init(document.getElementById('barChart'), theme);
    let _datatable = $('#expeditionDetail').DataTable({
      lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "Todos"]],
      language: {
        url: '//cdn.datatables.net/plug-ins/1.10.13/i18n/Spanish.json'
      },
      columns: [
        {
         'targets': 0, 'searchable': false, 'orderable': false, 'className': 'text-center', 'data': 'visible',
         'render': function (data, type, full, meta){
             return '<input type="checkbox" name="trip' + full.id + '" class="flat" checked>';
         }
        },
        { title: 'Perfil de carga', data: 'sparkLoadProfile', searchable: false,
          render: function(data, type, row){
            return '<i class="spark">' + data.join(',') + '</i>';
          }
        },
        //{ title: 'Servicio-sentido', data: 'route',   searchable: true},
        { title: 'Patente(capacidad)', data: 'busDetail', searchable: true}, 
        { title: 'Período inicio expedición', data: 'authTimePeriod', searchable: true},
        { title: 'Hora de inicio', data: 'timeTripInit', searchable: true},
        { title: 'Hora de fin', data: 'timeTripEnd', searchable: true},
        { title: 'Tipo de día', data: 'dayType', searchable: true}
      ],
      order: [[4, 'asc']],
      createdRow: function ( row, data, index ) {
        $(row).addClass('success');
      },
      initComplete: function(settings){
        // Handle click on "Select all" control
        let mainCheckbox = $('#checkbox-select-all');
        mainCheckbox.iCheck({
          labelHover: false,
          cursor: true,
          checkboxClass: 'icheckbox_flat-green'
        });
        mainCheckbox.on('ifToggled', function(event){
          // Get all rows with search applied
          let rows = _datatable.rows({'search':'applied'}).nodes();
          let addToAggr = false;
          let inputs = $('input.flat', rows);
          if(event.target.checked){
            inputs.prop('checked', true);
            $(rows).addClass('success');
            addToAggr = true;
          } else {
            inputs.prop('checked', false);
            $(rows).removeClass('success');
          }
          $('tbody input.flat').iCheck('update');
          let tripIds = _datatable.rows({'search':'applied'}).data().map(function(el){return el.id});
          _dataManager.setVisibility(tripIds, addToAggr);
          _self.updateCharts();
        });
      }
    });
    _datatable.on('search.dt', function (event) {

      let el = $('#checkbox-select-all');
      let tripIds = _datatable.rows({'search':'applied'}).data().map(function(el){ return el.id});
      let resultChecked = _dataManager.checkAllAreAggregate(tripIds);
      
      if(resultChecked === tripIds.length){
        el.prop('checked', true);
      } else if(resultChecked === 0){
        el.prop('checked', false);
      } else {
        el.prop('checked', false);
        el.prop('indeterminate', true);
      }
      el.iCheck('update');
    });

    this.dataManager = function(dataManager){
      if(dataManager === undefined){
        return _dataManager;
      }
      _dataManager = dataManager;
      this.updateCharts();
      this.updateDatatable();
    };

    let _updateDatatable = function(){                                     
      let dataset = _dataManager.getDatatableData();                       
      let rows = dataset['rows'];
      let maxHeight = dataset['maxHeight'];
                                                                           
      _datatable.off('draw');                                              
      _datatable.on('draw', function(oSettings) {                          
        $('.spark:not(:has(canvas))').sparkline('html', {                  
          type: 'bar',                                                     
          barColor: '#169f85',                                             
          negBarColor: 'red',                                              
          chartRangeMax: maxHeight
        });                                                                
                                                                           
        $('tbody input.flat').iCheck('destroy');                           
        $('tbody input.flat').iCheck({                                     
          labelHover: false,                                               
          cursor: true,                                                    
          checkboxClass: 'icheckbox_flat-green'                            
        });                                                                
                                                                           
        // activate iCheck in checkbox                                     
        let dtRows = _datatable.rows().nodes();                            
        // attach events check and uncheck                                 
        $('input.flat', dtRows).off('ifToggled');                          
        $('input.flat', dtRows).on('ifToggled', function(event){           
          let tr = $(this).parent().parent().parent();                     
          let addToAggr = false;                                           
          if(event.target.checked){                                        
            tr.addClass('success');                                        
            addToAggr = true;                                              
          }else{                                                           
            tr.removeClass('success');                                     
          }                                                                
                                                                           
          // updateChart                                                   
          let tripId = parseInt($(this).attr('name').replace('trip', '')); 
          _dataManager.setVisibility([tripId], addToAggr);
          _self.updateCharts();                                            
        });                                                                
      });                                                                  
      _datatable.clear();                                                  
      _datatable.rows.add(rows);                                           
      _datatable.columns.adjust().draw();

      // attach to attach event                                            
      $('#detail-tab').off('shown.bs.tab');                                
      $('#detail-tab').on('shown.bs.tab', function(event){                 
        $('.spark:not(:has(canvas))').sparkline('html', {                  
          type: 'bar',                                                     
          barColor: '#169f85',                                             
          negBarColor: 'red',                                              
          chartRangeMax: maxHeight
        });                                                                
      })                                                                   
    };

    let _updateBarChart = function(){

      let trips = _dataManager.trips();
      let series = [];
      let visualMaps = [];
      let scatterData = [];
      let seriesIndex = -1;
      for (let index=0; index<trips.length; index++){
        let trip = trips[index];
        if(!trip.visible){
          continue;
        }
        seriesIndex++;

        let serie = {
          name: trip.licensePlate,
          type: 'line', data: trip.data, 
          showSymbol: true, symbol: 'pin', symbolSize: 6,
          lineStyle: { normal: { width: 1}}
        };
        let visualMap = {
          show: false,
          type: 'piecewise',
          pieces:[],
          dimension: 0,
          seriesIndex: seriesIndex,
          outOfRange: {
            color: 'blue'
          }
        };
        let colors = ['#0008fc', '#d3d352', '#db9500', '#ff0707'];
        let previousPiece = null;
        for (let i=1; i<trip.data.length; i++){
          let value = trip.data[i][3];
          let color = value<=25?colors[0]:value<=50?colors[1]:value<=75?colors[2]:value<=100?colors[3]:null;

          if(trip.data[i-1][0] !== "" && trip.data[i][0] !== ""){
            let piece = {
                gte: (new Date(trip.data[i-1][0])).getTime(),
                lte: (new Date(trip.data[i][0])).getTime(),
                color: color
            };

            if(previousPiece === null){
              previousPiece = piece;
            }else if(previousPiece.color === piece.color){
              previousPiece.lte = piece.lte;
            }else{
              visualMap.pieces.push(previousPiece);
              previousPiece = piece;
            }
          }

          if(i+1 === trip.data.length){
            visualMap.pieces.push(previousPiece);
          }
        }
        series.push(serie);
        visualMaps.push(visualMap);
        scatterData = scatterData.concat(trip.data);
      }

      let scatterSerie = {
        type: 'scatter',
        symbolSize: function(el){
          return el[5]*0.3;
        },
        itemStyle: {
          normal: {
            color: 'red'
          }
        },
        data: scatterData
      };
      //generates markLine
      let markLines = [];
      let yMax = 0;
      _dataManager.yAxisData().forEach(function(item){
        if(item.value > yMax){
          yMax = item.value;
        }
        let markLine = {
          yAxis: item.value, 
          name: item.name
        };
        markLines.push(markLine);
      });
      scatterSerie.markLine = {
        data: markLines,
        silent: true,
        symbol: ['pin', null],
        label: {
          normal: {
            formatter: '{b} - {c}     ',
            textStyle: {
              fontSize: 9, color: '#000'
            },
            position: 'left'
          }
        },
        lineStyle: {
          normal: {
            type: 'solid',
            opacity: 0.2,
            color: '#000'
          }
        } 
      }; 
      //scatterSerie.data = null;
      series.push(scatterSerie);
      console.log(series);
      console.log(visualMaps);

      let options = {
        animation: false,
        series: series,
        visualMap: visualMaps,
        dataZoom: [{
          show: true, type: 'slider', xAxisIndex: 0, start: 0, end: 100
        },{
          show: true, type: 'slider', yAxisIndex: 0, start: 0, end: 100
        },{
          //show: true, type: 'inside', xAxisIndex: 0, start: 0, end: 100
        },{
          //show: true, type: 'inside', yAxisIndex: 0, start: 0, end: 100
        }],
        xAxis:{
          type: 'time', name: 'Hora', boundaryGap: false, splitNumber: 15, splitLine:{ show: false}
        },
        yAxis: {
          type: 'value', name: 'Distancia en Ruta', splitLine:{ show: false}, splitArea: {show: false},
          axisLabel: {show: false}, axisTick: {show: false},
          max: yMax
        },
        tooltip: { 
          show:true,
          trigger: 'item',
          formatter: function(params){
            console.log(params);
            let row = [];
            if(params.componentType === "series"){
              row.push(params.marker);
              if(params.componentSubType === "line"){
                let time = params.data[0];
                let loadProfile = params.data[2];
                let getOut = params.data[4];
                let getIn = params.data[5];

                row.push('Tiempo: ' + time);
                row.push('Carga: ' + loadProfile);
                row.push('Bajadas: ' + getOut);
                row.push('Subidas: ' + getIn);
              }else if(params.componentSubType === "scatter"){
                let getIn = params.data[5];
                row.push('Subidas: ' + getIn);
              }
            }
            return row.join('<br />');
          }
        },
        grid: {
          left: '200px',
          bottom: '80px',
          containLabel: true
        },
        toolbox: {
          show : true,
          itemSize: 20,
          left: 'center',
          top: 'top',
          feature : {
            mark : {show: false},
            restore : {show: false, title: "restaurar"},
            saveAsImage : {show: true, title: "Guardar imagen", name: _dataManager.getDataName()},
            dataView: {
              show: true, 
              title: 'Ver datos',
              lang: ['Datos del gráfico', 'cerrar', 'refrescar'],
              buttonColor: '#169F85',
              readOnly: true
            },
            dataZoom: {
              show: true, title: {
                zoom: 'Seleccionar área',
                back: 'Restablecer vista'
              }
            }
          }
        }
      };
      
      _barChart.clear();
      _barChart.setOption(options, {
        notMerge: true
      });
    };

    let _updateGlobalStats = function() {
      $('#expeditionNumber').html(_dataManager.tripsUsed());
      $('#expeditionNumber2').html(_dataManager.tripsUsed());
    };

    this.updateCharts = function(){
      _updateBarChart();
      _updateGlobalStats();
    };
    this.updateDatatable = function(){
      _updateDatatable();
    };
    this.showLoadingAnimationCharts = function(){
      const LOADING_TEXT = 'Cargando...';
      _barChart.showLoading(null, {text: LOADING_TEXT});
    };
    this.hideLoadingAnimationCharts = function(){
      _barChart.hideLoading();
    };
  }

  function processData(dataSource, app){
    console.log(dataSource);
    
    if(dataSource['status']){
      let status = dataSource['status'];
      showMessage(status);
      return;
    }
 
    let trips = dataSource.trips;
    let dataManager = new DataManager();
    let globalYAxis = [];
    let updateGlobalYAxis = false;

    for(let expeditionId in trips){
      let trip = trips[expeditionId];

      // trip info
      let capacity = trip['info']['capacity'];
      let licensePlate = trip['info']['licensePlate'];
      let route = trip['info']['route'];
      let timeTripInit = trip['info']['timeTripInit'];
      let timeTripEnd = trip['info']['timeTripEnd'];
      let authTimePeriod = trip['info']['authTimePeriod'];
      let dayType = trip['info']['dayType'];
      
      let stopQuantity = trip['stops'].length;

      if(stopQuantity > globalYAxis.length){
        globalYAxis = [];
        updateGlobalYAxis = true;
      }else{
        updateGlobalYAxis = false;
      }

      let data = [];
      for(let stopIndex=0; stopIndex<stopQuantity; stopIndex++){
        let stopInfo = trip['stops'][stopIndex];
        let authStopCode = stopInfo['authStopCode'];
        let userStopCode = stopInfo['userStopCode'];
        let order = stopInfo['order'];
        let name = stopInfo['name'];
        let distOnPath = stopInfo['distOnPath'];

        if(updateGlobalYAxis){
          let yPoint = {
            'value': distOnPath,
            'name': name,
            'authStopCode': authStopCode,
            'userStopCode': userStopCode,
          };
          globalYAxis.push(yPoint);
        }
        let row = [];
        let stopTime = stopInfo['stopTime'];
        row.push(stopTime);
        row.push(stopInfo['distOnPath']);
        row.push(stopInfo['loadProfile']);
        row.push(stopInfo['loadProfile']/capacity*100);
        row.push(stopInfo['expandedGetOut']);
        row.push(stopInfo['expandedGetIn']);
        data.push(row);
      }
      
      trip = new Trip(expeditionId, route, licensePlate, capacity, timeTripInit, 
                      timeTripEnd, authTimePeriod, dayType, data);
      dataManager.addTrip(trip);
    }
    dataManager.yAxisData(globalYAxis);
    app.dataManager(dataManager);
  }

  // load filters
  (function (){
    // set locale
    moment.locale('es');
    // set datetimepickers
    /*
    $('#dateFromFilter').daterangepicker({
      singleDatePicker: true,
      singleClasses: "picker_2",
      languague: 'es'
    });
    $('#dateToFilter').daterangepicker({
      singleDatePicker: true,
      singleClasses: "picker_2",
      languague: 'es'
    });*/
  
    $('#licensePlateFilter').tagsInput({defaultText: '...', minChars:6});
    $('#expeditionIdFilter').tagsInput({defaultText: '...', minChars:1});
    $('#licensePlateFilter').addTag('BJFS-17');

    $('#dayFilter').select2({placeholder: 'Todos'});
    $('#dayTypeFilter').select2({placeholder: 'Todos'});
    $('#periodFilter').select2({placeholder: 'Todos'});
    $('#routeFilter').select2({placeholder: 'Servicio'});//, allowClear: true});
 
    let app = new ExpeditionApp();
    $('#btnUpdateChart').click(function(){
      let day = $('#dayFilter').val();
      //let from = $('#dateFromFilter').val();
      //let to = $('#dateToFilter').val();
      let route = $('#routeFilter').val();
      let dayType = $('#dayTypeFilter').val();
      let period = $('#periodFilter').val();
      //let licensePlate = $('#licensePlateFilter').val()!='' ? $('#licensePlateFilter').val().split(','):null;
      //let expeditionId = $('#expeditionIdFilter').val()!='' ? $('#expeditionIdFilter').val().split(','):null;
   
      /*
      console.log(from);
      console.log(to);
      console.log(route);
      console.log(dayType);
      console.log(period);
      */
      //console.log(licensePlate);
      //console.log(expeditionId);

      let params = {
        day: day
        //from: from,
        //to: to,
      };
      if (route) {
        params['route'] = route;
      }
      if (dayType) {
        params['dayType'] = dayType;
      }
      if (period) {
        params['period'] = period;
      }
      /*
      if (licensePlate) {
        params['licensePlate'] = licensePlate;
      }
      if (expeditionId) {
        params['expeditionId'] = expeditionId;
      }
      */

      app.showLoadingAnimationCharts();
      let loadingIcon = " <i class='fa fa-cog fa-spin fa-2x fa-fw'>";
      let previousMessage = $(this).html();
      let button = $(this).append(loadingIcon);
      $.getJSON('getExpeditionData', params, function(data){
        processData(data, app);
      })
      .always(function(){
        button.html(previousMessage);
        app.hideLoadingAnimationCharts();
      });
    });
  })()
});
</script>
{% endblock %}
