{% extends 'shape/mapBase.html' %}

{% block mapjs %}
  let style1 = {
    colors: ['#ff00ee']
  }
  style1.getColorPosition = function(color) {
    return $.inArray(color, style1.colors);
  };
  style1.getColor = function(d) {
    if(d == null){
      return style1.colors[0];
    }
    return style1.colors[0];
  };
  // DEFINE LEGEND
  let legend = L.control({position: 'bottomright'});
  legend.onAdd = function (map) {
    let div = L.DomUtil.create('div', 'info legend'),
    grades = [0, 180, 240, 300, 360],
    labels = [];

    div.innerHTML += '<h4>s/km</h4>';

    // loop through our density intervals and generate a label with a colored square for each interval
    for (let i = 0; i < grades.length; i++) {
      let color = '';
      let legend = '';
      if (i==0) {
        color = style1.getColor(grades[i]-1);
        legend = ' Sin datos ';
        let html = "<i style='background:" + color + "'></i>" + legend + "<br>";
        div.innerHTML += html;
      }
      switch (true) {
        case (i==grades.length-1):
          color = style1.getColor(grades[i]+1);
          legend = ' > ' + grades[i];
          break;
        default: // middle
          color = style1.getColor(grades[i] + 1);
          legend = ' (' + grades[i] + ', ' + grades[i + 1] + ']';
          break;
      }
      let html = '<i style="background:' + color + '"></i>' + legend + '<br>';
      div.innerHTML += html;
    }
    return div;
  };
  style1.legend = legend;

  let filterControl = L.control({position: 'topleft'});
  filterControl.onAdd = function (map) {
    let div = L.DomUtil.create('div', 'info legend');
    div.innerHTML += '<div class="form-inline">'+
             '<select id="route" class="form-control input-sm">'+
               '{%for route in routes %}<option>{{ route }}</option>{% endfor %}'+
             '</select>'+
            /*
             '<select id="period" class="form-control input-sm">'+
                     '{%for period in periods %}<option>{{period}}</option>{% endfor %}'+
             '</select>'+ */
     '</div>';
    div.firstChild.onmousedown = div.firstChild.ondblclick = L.DomEvent.stopPropagation;
    return div;
  };

  // html to display in popup
  let getBubbleInfo = function(metric, streetName, section){
    /*
    let text = metric + " s/km";
    if (metric == null) {
      text = 'Sin Datos';
    }
    let order = section.order;
    let origin = section.originStreet;
    let destination = section.destinationStreet;
    let group = section.group;
    let nObs = section.nObs;

    let message = "<h3>" + text + "</h3>" + 
                  "<h6>Eje: " + streetName + "</h6>" + 
                  "<h6>Tramo: " + order + "</h6>" + 
                  "<h6>Inicio: " + origin + "</h6>" + 
                  "<h6>Fin: " + destination + "</h6>" + 
                  "<h6>Grupo: " + group + "</h6>";
                  //"<h6>N° obs: " + nObs + "</h6>";
    */
    let message = "hola";
    return message;
  };
  let getMetricFunc = function(section){
    return "value";
  };

  let app = new App(getMetricFunc, style1.getColor, style1.getColorPosition, getBubbleInfo);
  //app.addMapControl(style1.legend);
  app.addMapControl(filterControl);
  app.setMapControlVisibility('hourInfo', false);
  app.setMapControlVisibility('dayTypeInfo', false);
  app.setMapControlVisibility('switchMap', false);
  app.setMapControlVisibility('filter', true );

  //add button logic
  $('.form-control').change(function(){
    let params = {};
    let route = $('#route option:checked').val();
    params['route'] = route;

    $.ajax({
      url: "{% url 'shape:route' %}",
      data: params,
      success: function(data){
        console.log('update map data');
        console.log(data);

        // generate polylines
        for(let i=0; i<data["points"].length; i++) {
          data["points"][i]["distOnRoute"] = i;
        }
        let streetName = route;
        let sectionName = route;
        let section = {
          id: 1,
          group: route,
          points: data["points"]
        }
        app.generateOverlays(streetName, sectionName, section);

        // update map
        app.updateMap(data.hour, data.dayType);
      }
    });
  });
  $('#period').change();
{% endblock %}

{% block downloaddata %}
{% endblock %}