{% extends 'admin/base_site.html' %}
{% load static %}

{% block css %}
    <!-- leaflet -->
    <link rel="stylesheet" href="{% static "components/leaflet/dist/leaflet.css" %}">
    <link rel="stylesheet"
          href="{% static "components/BeautifyMarker/leaflet-beautify-marker-icon.css" %}">
    <link rel="stylesheet"
          href="{% static "components/bootstrap-colorpicker/dist/css/bootstrap-colorpicker.min.css" %}">
    {% with "components/gentelella/vendors/" as gentelella_static %}
        <link href="{% static gentelella_static|add:"select2/dist/css/select2.min.css" %}" rel="stylesheet">
    {% endwith %}
    <style>
        .info {
            padding: 6px 8px;
            font: 14px/16px Arial, Helvetica, sans-serif;
            background: white;
            background: rgba(255, 255, 255, 0.8);
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
            border-radius: 5px;
        }

        .info h4 {
            margin: 0 0 5px;
            color: #777;
        }

        .legend {
            line-height: 18px;
            color: #555;
        }

        .legend i {
            width: 18px;
            height: 18px;
            float: left;
            margin-right: 8px;
            opacity: 0.8;
        }

        .filterColor {
            width: 18px;
            height: 18px;
            float: left;
            margin-right: 8px;
            opacity: 1.0;
        }

        .nav_menu {
            margin-bottom: 0;
        }

        .btn-sm, .leaflet-right .btn {
            margin-bottom: 0;
            margin-right: 0;
        }

        .select2-selection--single {
            min-height: 18px !important;
        }

        .select2-selection--single .select2-selection__rendered {
            line-height: 18px !important;
        }
    </style>
{% endblock %}

{% block content %}
    {% include "help/modal/modal_shape.html" with show_ok_button=True modal_id="shape_info" modal_title="Datos sobre ruta" modal_body="" %}
    {% include "help/modal/modal.html" with show_ok_button=True modal_id="modal" modal_title="Eliminar ruta" modal_body="¿Está seguro que quiere eliminar la ruta?" %}
    {% include "help/modal/modal.html" with modal_id="helpModal" modal_title="Ruta de servicios" modal_body="<p>Esta vista permite visualizar espacialmente la ruta de uno o más servicios</p><h4>Modo de uso:</h4><p>Presionar el botón 'Agregar ruta'. Una vez hecho aparecerá una fila en la sección 'Rutas en mapa' representando la nueva ruta, en ella aparecen los siguientes componentes:</p><ul><li>Botón para eliminar la ruta del mapa</li><li>Fecha del programa de operación asociado a la ruta que desea ver</li><li>Servicio de interés</li><li>Botón para cambiar el color de la ruta</li><li>Botón para ocultar la ruta en el mapa</li></ul>" %}
{% endblock %}

{% block js %}
    {% with "components/gentelella/vendors/" as gentelella_static %}
        <script src="{% static gentelella_static|add:"iCheck/icheck.min.js" %}"></script>
        <script src="{% static gentelella_static|add:"select2/dist/js/select2.min.js" %}"></script>

    {% endwith %}
    <script src="{% static "components/leaflet/dist/leaflet.js" %}"></script>
    <script src="{% static "components/leaflet-polylinedecorator/dist/leaflet.polylineDecorator.js" %}"></script>
    <script src="{% static "components/bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js" %}"></script>
    <script src="{% static "components/BeautifyMarker/leaflet-beautify-marker-icon.js" %}"></script>
    <script src="{% static "trip/js/map.js" %}"></script>
    <script src="{% static "shape/js/mapApp.js" %}"></script>
{% endblock %}