{% extends 'admin/base_site.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'shape/css/mapBase.css' %}">
    <link href="{% static "css/mapbox-gl.css" %}" rel="stylesheet">
    <link rel="stylesheet"
          href="{% static "components/bootstrap-colorpicker/dist/css/bootstrap-colorpicker.min.css" %}">

    {% with "components/gentelella/vendors/" as gentelella_static %}
        <link href="{% static gentelella_static|add:"select2/dist/css/select2.min.css" %}" rel="stylesheet">

        <link href="{% static gentelella_static|add:"datatables.net-bs/css/dataTables.bootstrap.min.css" %}"
              rel="stylesheet">
        <link href="{% static gentelella_static|add:"datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" %}"
              rel="stylesheet">
        <link href="{% static gentelella_static|add:"datatables.net-scroller-bs/css/scroller.bootstrap.min.css" %}"
              rel="stylesheet">
        <link href="{% static gentelella_static|add:"datatables.net-buttons-bs/css/buttons.bootstrap.min.css" %}"
              rel="stylesheet">
    {% endwith %}
{% endblock %}

{% block content %}
    <div id="mapid" style="width: 100%"></div>
    <div id="modalList">
        {% include "help/modal/modal_shape.html" with show_ok_button=True modal_id="shape_info" modal_title="Datos operacionales" modal_body="" %}
        {% include "help/modal/explanation/shape/map.html" with modal_id="helpModal" %}
    </div>
{% endblock %}

{% block js %}
    {% with "components/gentelella/vendors/" as gentelella_static %}
        <script src="{% static gentelella_static|add:'iCheck/icheck.min.js' %}"></script>
        <script src="{% static gentelella_static|add:'select2/dist/js/select2.min.js' %}"></script>

        <script src="{% static gentelella_static|add:'datatables.net/js/jquery.dataTables.min.js' %}"></script>
        <script src="{% static gentelella_static|add:'datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
        <script src="{% static gentelella_static|add:'datatables.net-fixedheader/js/dataTables.fixedHeader.min.js' %}"></script>
        <script src="{% static gentelella_static|add:'datatables.net-scroller/js/dataTables.scroller.min.js' %}"></script>
        <script src="{% static gentelella_static|add:'datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
        <script src="{% static gentelella_static|add:'jszip/dist/jszip.min.js' %}"></script>
        <script src="{% static gentelella_static|add:'datatables.net-buttons/js/buttons.html5.min.js' %}"></script>

    {% endwith %}
    <script src="{% static 'components/bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js' %}"></script>
    <script src="{% static "js/html2canvas.min.js" %}"></script>
    <script src="{% static "js/mapbox-gl.js" %}"></script>
    <script src="{% static "js/turf.min.js" %}"></script>
    <script src="{% static 'trip/js/map.js' %}"></script>
    <script src="{% static 'shape/js/mapApp.js' %}"></script>
{% endblock %}