{% extends "admin/base.html" %}

{% block title %}Error 404{% endblock %}

{% block bodyclass %}nav-md {% endblock %}

{% block basecontent %}
<!-- page content -->
<div class="container body">
  <div class="main_container">
    <div class="col-md-12">
      <div class="col-middle">
        <div class="text-center text-center">
          <h1 class="error-number">404</h1>
          <h2>Lo sentimos, no pudimos encontrar la página que buscas.</h2>
          <p>La página que estás buscando no existe.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /page content -->
{% endblock %}
