{% extends 'admin/base.html' %}
{% load i18n static %}

{% block bodyclass %}nav-md {% endblock %}
{% block basecontent %}
  <div class="container body">
    <div class="main_container">
      <div class="col-md-3 left_col">
        <div class="left_col scroll-view">
          <div class="navbar nav_title" style="border: 0;">
            <a href="{% url "index" %}" class="site_title"><i class="fas fa-tachometer-alt"></i>
              <span> ADATRAP</span></a>
          </div>

          <div class="clearfix"></div>

          <!-- menu profile quick info -->
          <div class="profile clearfix">
            <div class="profile_pic">
              <i class="fas fa-user fa-3x fa-fw img-circle profile_img"></i>
            </div>
            <div class="profile_info">
            <span>
            {% block welcome-msg %}
              {% trans 'Welcome,' %}
            {% endblock %}
            </span>
              <h2>{% firstof user.get_short_name user.get_username %}</h2>
            </div>
          </div>
          <!-- /menu profile quick info -->

          <br/>

          <!-- sidebar menu -->
          <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
            <div class="menu_section">
              <h3>Menú</h3>
              <ul class="nav side-menu">
                {% if user.is_staff %}
                  <li><a><i class="fas fa-users"></i> Administración <span
                          class="fas fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="{% url 'admin:auth_user_changelist' %}"> Usuarios</a></li>
                      <li><a href="{% url 'admin:localinfo_operator_changelist' %}">
                        Operadores</a></li>
                      <li><a href="{% url 'admin:localinfo_halfhour_changelist' %}"> Medias
                        horas</a></li>
                      <li><a href="{% url 'admin:datamanager_datasourcepath_changelist' %}">
                        Fuentes de datos</a></li>
                      <li><a href="{% url 'datamanager:loadmanager' %}"> Carga de datos</a></li>
                      <li><a>Programa de Operación<span class="fas fa-chevron-down"></span></a>
                        <ul class="nav child_menu" style="">
                          <li class="sub_menu"><a
                                  href="{% url 'datamanager:loadmanagerOP' %}">Carga de Datos</a>
                          </li>
                          <li>
                            <a href="{% url 'admin:localinfo_opdictionary_changelist' %}">Diccionario PO</a>
                          </li>
                        </ul>
                      </li>
                      <li><a href="{% url 'admin:datamanager_uploaderjobexecution_changelist' %}">
                        Historial de carga archivos</a>
                      </li>
                      <li><a href="{% url 'admin:datamanager_exporterjobexecution_changelist' %}">
                        Historial de exp. archivos</a></li>
                      <li><a href="{% url 'rq_home' %}"> Cola de carga</a></li>
                      <li><a href="{% url 'admin:awsbackup_downloadlink_changelist' %}"> Links a
                        S3 generados</a></li>
                      <li><a>Actividad de usuarios<span class="fas fa-chevron-down"></span></a>
                        <ul class="nav child_menu" style="">
                          <li class="sub_menu"><a
                                  href="{% url 'admin:logapp_usersession_changelist' %}">Sesiones</a>
                          </li>
                          <li>
                            <a href="{% url 'admin:logapp_usersessionstats_changelist' %}">Estadísticas</a>
                          </li>
                        </ul>
                      </li>
                      <li><a>Descripción de días<span class="fas fa-chevron-down"></span></a>
                        <ul class="nav child_menu" style="">
                          <li class="sub_menu"><a
                                  href="{% url 'admin:localinfo_daydescription_changelist' %}">
                            Descripciones</a></li>
                          <li><a href="{% url 'admin:localinfo_calendarinfo_changelist' %}">Asignar
                            días al calendario</a></li>
                        </ul>
                      </li>
                      <li><a href="{% url 'admin:localinfo_faq_changelist' %}"> Preguntas
                        Frecuentes</a></li>
                        <li><a href="{% url 'consistencychecker:concistency' %}"> Inconsistencias</a></li>

                    </ul>
                  </li>
                {% endif %}
                {% if perms.localinfo.storage %}
                  <li><a><i class="fas fa-cloud-download-alt"></i> Almacenamiento <span
                          class="fas fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="{% url 'awsbackup:gps' %}"> GPS</a></li>
                      <li><a href="{% url 'awsbackup:gpsOffline' %}"> GPS Offline</a></li>
                      <li><a href="{% url 'awsbackup:trip' %}"> Viajes</a></li>
                      <li><a href="{% url 'awsbackup:opprogram' %}"> Prog. operación</a></li>
                      <li><a href="{% url 'awsbackup:representativeweek' %}"> Semanas rep.</a>
                      </li>
                      <li><a href="{% url 'awsbackup:196' %}"> 1.96</a></li>
                      <li><a href="{% url 'awsbackup:profile' %}"> Perfiles de carga</a></li>
                      <li><a href="{% url 'awsbackup:stage' %}"> Etapas</a></li>
                      <li><a href="{% url 'awsbackup:speed' %}"> Velocidades</a></li>
                      <li><a href="{% url 'awsbackup:transaction' %}"> Transacciones</a></li>
                      <li><a href="{% url 'awsbackup:miscellaneous' %}">Miscelaneos</a></li>
                      <li><a href="{% url 'awsbackup:early-transaction' %}">Subidas por parada</a></li>
                      <li><a href="{% url 'awsbackup:opspeed' %}"> Velocidades PO</a></li>
                      <li><a href="{% url 'awsbackup:stoptime' %}"> Cruce buses por paraderos</a></li>
                    </ul>
                  </li>
                {% endif %}
                {% if perms.localinfo.validation %}
                  <li><a><i class="fas fa-dollar-sign"></i> Transacciones <span
                          class="fas fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="{% url 'paymentfactor:index' %}"> Dist. en zona paga mixta</a>
                      </li>
                      <li><a href="{% url 'bip:operator' %}"> Transacciones por operador</a></li>

                    </ul>
                  </li>
                {% endif %}
                <li>
                    <a><i class="fas fa-save"></i> Productos post. <span
                        class="fas fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a href=" {% url "postproducts:transfers" %} "> Transbordos por parada</a></li>
                        <li><a href=" {% url "postproducts:tripsBetweenZones" %} "> Viajes entre comunas</a></li>
                        <li><a href=" {% url "postproducts:boardingAndAlightingByZone" %} "> Subidas y bajadas</a></li>
                        <li><a href=" {% url "postproducts:transactionsByOperator" %} "> Transacciones por operador</a></li>
                    </ul>
                </li>
                <li><a><i class="fas fa-bus-alt"></i> Perfil de carga <span
                        class="fas fa-chevron-down"></span></a>
                  <ul class="nav child_menu">
                    <li><a href=" {% url "profile:expedition" %} "> Por servicio</a></li>
                    <li><a href=" {% url "profile:stop" %} "> Por parada-servicio</a></li>
                    <li><a href=" {% url "profile:manystops" %} "> Por grupo de paradas</a></li>
                    <li><a href=" {% url 'profile:trajectory' %} "> Trayectoria</a></li>
                    <li><a href=" {% url 'profile:transfers' %} "> Transbordos en parada</a></li>
                    <li><a href=" {% url 'profile:odmatrix' %} "> Matriz de etapas</a></li>
                  </ul>
                </li>
                <li><a><i class="fas fa-tachometer-alt"></i> Velocidades <span
                        class="fas fa-chevron-down"></span></a>
                  <ul class="nav child_menu">
                    <li><a href=" {% url "speed:matrix" %} "> Matriz por servicio</a></li>
                    <li><a href=" {% url "speed:ranking" %} "> Ranking de velocidades</a></li>
                    <li><a href=" {% url "speed:variation" %} "> Variación de velocidades</a></li>
                  </ul>
                </li>
                <li><a><i class="fas fa-map"></i> Rutas <span class="fas fa-chevron-down"></span></a>
                  <ul class="nav child_menu">
                    <li><a href=" {% url "shape:map" %} "> Ficha de servicios</a></li>
                  </ul>
                </li>
                {% if perms.localinfo.travel %}
                  <li>
                    <a><i class="fas fa-suitcase-rolling"></i> Viajes<span
                            class="fas fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href=" {% url "trip:graphs" %} ">Indicadores de viajes</a></li>
                      <li><a href=" {% url "trip:map" %} ">Geolocalización de viajes</a></li>
                      <li><a href=" {% url "trip:large-trips" %} ">Viajes por Etapas</a></li>
                      <li><a href=" {% url "trip:from-to" %} ">Orígenes y Destinos</a></li>
                      <li><a href=" {% url "trip:strategies" %} ">Estrategias de Viaje</a></li>
                    </ul>
                  </li>
                {% endif %}
                {% if perms.localinfo.globalstat %}
                  <li>
                    <a><i class="fas fa-chart-line"></i> Est. globales<span
                            class="fas fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href=" {% url "globalstat:resume" %} ">Resumen histórico</a></li>
                      <li><a href=" {% url "globalstat:detail" %} ">Detalle</a></li>
                    </ul>
                  </li>
                {% endif %}
              </ul>
            </div>
          </div>
          <!-- /sidebar menu -->
        </div>
      </div>

      <!-- top navigation -->
      <div class="top_nav">
        <div class="nav_menu">
          <nav>
            <div class="nav toggle">
              <a id="menu_toggle"><i class="fas fa-bars"></i></a>
            </div>

            <ul class="nav navbar-nav navbar-right" id="user-tools">
              {% block nav-global %}{% endblock %}
              <li class="">
                <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown"
                   aria-expanded="false">
                  <i class="fas fa-user fa-fw"></i>
                  {% firstof user.get_short_name user.get_username %}
                  <span class=" fas fa-angle-down"></span>
                </a>
                <ul class="dropdown-menu dropdown-usermenu pull-right">
                  {% if user.has_usable_password %}
                    <li><a href="{% url 'datamanager:jobHistoryByUser' %}"><i
                            class="fas fa-cloud-download-alt pull-right"></i> Solicitudes de descarga</a>
                    </li>
                    <li><a href="{% url 'webuser:password_change' %}"><i
                            class="fas fa-edit pull-right"></i> Cambiar contraseña</a></li>
                  {% endif %}
                  <li><a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt pull-right"></i> Cerrar
                    sesión</a></li>
                </ul>
              </li>
              <li role="presentation" class="dropdown">
                <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown"
                   aria-expanded="false">
                  <i class="fas fa-envelope"></i>
                  {% if jobs %}
                    <span class="badge bg-green">{{ jobs|length }}</span>
                  {% endif %}
                </a>
                <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
                  {% for job in jobs %}
                    <li class="alert alert-{% if job.status == 'finished' %}success{% elif job.status == 'failed' %}error{% elif job.status == 'canceled' %}warning{% elif job.status == 'running' %}warning{% else %}info{% endif %}">
                      <a href="{% url 'datamanager:jobHistoryByUser' %}">
                                                <span class="image"><i
                                                        class="fas {% if job.status == 'running' %}fa-refresh fa-spin{% else %}fa-cloud-download{% endif %} pull-right"></i></span>
                        <span>
                      <span>Solicitud de descarga</span>
                      <span class="time">hace {{ job.enqueueTimestamp|timesince }} atrás</span>
                    </span>
                        <span class="message">
                      Estado: {{ job.get_status_display }}<br/>
                      {{ job.errorMessage|truncatechars:40 }}
                    </span>
                      </a>
                    </li>
                  {% endfor %}
                  <li>
                    <div class="text-center">
                      <a href="{% url 'datamanager:jobHistoryByUser' %}">
                        <strong>Ver todas las solicitudes de descarga</strong>
                        <i class="fas fa-angle-right"></i>
                      </a>
                    </div>
                  </li>
                </ul>
              </li>
              <li>
                  <a target="_blank" href="{% url 'localinfo:faq' %}">
                  <i class="fas fa-question fa-5x"></i>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
      <!-- /top navigation -->

      <!-- page content -->
      <div class="right_col" role="main">
        <div>
          {% if not is_popup %}
            <!-- Header -->
            <div class="page-title">
              <div class="title_left">
                {% block pretitle %}{% endblock %}
                {% block content_title %}{% if title %}<h3>{{ title }}</h3>{% endif %}{% endblock %}
              </div>
              <div class="title_right">
              </div>
            </div>
            <div class="clearfix"></div>
          {% endif %}

          {% block content %}
            {% block object-tools %}{% endblock %}
            {{ content }}
          {% endblock %}
          {% block sidebar %}{% endblock %}
          <br class="clear"/>
        </div>
      </div>
      <!-- /page content -->

      <!-- footer content
    {% block footer %}
    <footer id="footer">
      <div class="pull-right">
        Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
      </div>
      <div class="clearfix"></div>
    </footer>
    {% endblock %}
     /footer content -->
    </div>
  </div>
{% endblock %}
