{% extends 'help/modal/modal_base_xl.html' %}

{% block title %}Filtrar por día{% endblock title %}

{% block body %}
    {% include "datamanager/dateRangeCalendar.html" with info_target_id="dayHelp" %}
    <div class="container col-md-12">
        <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-3"></div>
            <div class="col-md-9 col-sm-9 col-xs-9">
                <div class="btn-group btn-group-toggle" role="group" data-toggle="buttons">
                     <label class="btn btn-primary active">
                        <input type="radio" name="options" id="option3" autocomplete="off" checked> Añadir rango
                    </label>
                    <label class="btn btn-primary">
                        <input type="radio" name="options" id="option4" autocomplete="off"> Eliminar rango
                    </label>
                    <label class="btn btn-primary ">
                        <input type="radio" name="options" id="option1" autocomplete="off" > Añadir Día
                    </label>
                    <label class="btn btn-primary">
                        <input type="radio" name="options" id="option2" autocomplete="off"> Eliminar día
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <br>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <dt>Días seleccionados: </dt>
                <dl id="daysSelectedList" class="dl-horizontal">
                </dl>
            </div>
        </div>
    </div>
    <div id="popover-content" style="display: none">
    </div>
{% endblock body %}