.select2-container .select2-choice:not(.select2-default) {
    background-image: none !important;
    background-color: #D9FFC7;
}

.cols-same-height-align-vertical {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  align-items: center;
}