{% extends 'profile/base.html' %}
{% load static header panel inline_select table columns update_button label data_filter tabs %}

{% block title %}Productos post{% endblock %}


{% block css %}
    {{ block.super }}
{% endblock %}


{% block content %}
    {% label "OBSERVACIÓN: Los datos mostrados a continuación no consideran evasión." "warning" as label %}
    {% header "Perfil de carga" "por servicio"|add:label %}

    {% include "datamanager/availableDays.html" with info_target_id="dayHelp" %}
    {% include "admin/date_range_modal.html" with modal_id="dateRangeModal" show_save_button="True" %}

    {% data_filter data_filter True False True False False True False True True True True info_target_id="filterHelp" %}

    <div class="row">
        {% tabs tabs.header tabs.content as profile_tabs %}
        {% panel "fa-bar-chart" "Perfil de carga" profile_tabs info_target_id="chartHelp" as panel4 %}
        {% columns 12 12 12 panel4 %}
    </div>

    <div class="row">
        {% table "expeditionDetail" 7 as expeditionTable %}
        {% panel "fa-truck" 'Expediciones (<strong id="expeditionNumber2">-</strong>)' expeditionTable info_target_id="tableHelp" as panel5 %}
        {% columns 12 12 12 panel5 %}

    </div>

    {% include "help/modal/explanation/profile/by_route/filter.html" with modal_id="filterHelp" %}
    {% include "help/modal/explanation/profile/by_route/chart.html" with modal_id="chartHelp" %}
    {% include "help/modal/explanation/profile/by_route/table.html" with modal_id="tableHelp" %}
    {{ block.super }}
{% endblock %}


{% block js %}
    {{ block.super }}
{% endblock %}
