.info {
    padding: 6px 8px;
    font: 12px/14px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.info h4 {
    margin: 0 0 5px;
    color: #777;
}

.legend {
    line-height: 18px;
    color: #555;
}

.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.8;
}

.filterColor {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 1.0;
}

.nav_menu {
    margin-bottom: 0;
}

.btn-sm, .leaflet-right .btn {
    margin-bottom: 0;
    margin-right: 0;
}

.select2-selection--single {
    min-height: 18px !important;
}

.select2-selection--single .select2-selection__rendered {
    line-height: 18px !important;
}


.btn-default-disabled {
    pointer-events: none;
    color: rgba(255, 255, 255, 0.2);
    background-color: rgba(255, 255, 255, 0.2);
    border-color: rgba(255, 255, 255, 0.2);
}

.btn-default-white {
    pointer-events: none;
    background-color: rgba(255, 255, 255, 0.2);
    border-color: rgba(255, 255, 255, 0.2);
    font: 14px/16px Arial, Helvetica, sans-serif;
}

.input-xs {
    height: 22px;
    padding: 2px 5px;
    font-size: 12px;
    line-height: 1.5; /* If Placeholder of the input is moved up, rem/modify this. */
    border-radius: 3px;
}

.leaflet-container a.btn-success {
    color: #ffffff;
}

.date {
    width: 180px !important;
}

.userRoute {
    width: 70px !important;
}

.route {
    width: 180px !important;
}

.modal-lg {
    width: 1600px;
!important;
}

#timePeriodButton {
    float: right;
}

.select2-selection--multiple {
    max-height: 60px;
    overflow: auto
}
