.info {
    padding: 6px 8px;
    font: 12px/14px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.info h4 {
    margin: 0 0 5px;
    color: #777;
}

.legend {
    line-height: 18px;
    color: #555;
}

.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.8;
}

.filterColor {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 1.0;
}

.nav_menu {
    margin-bottom: 0;
}

.btn-sm, .leaflet-right .btn {
    margin-bottom: 0;
    margin-right: 0;
}

.select2-selection--single {
    min-height: 18px !important;
}

.select2-selection--single .select2-selection__rendered {
    line-height: 18px !important;
}


.btn-default-disabled {
    pointer-events: none;
    color: rgba(255, 255, 255, 0.2);
    background-color: rgba(255, 255, 255, 0.2);
    border-color: rgba(255, 255, 255, 0.2);
}

.btn-default-white {
    pointer-events: none;
    background-color: rgba(255, 255, 255, 0.2);
    border-color: rgba(255, 255, 255, 0.2);
    font: 14px/16px Arial, Helvetica, sans-serif;
}

.input-xs {
    height: 22px;
    padding: 2px 5px;
    font-size: 12px;
    line-height: 1.5; /* If Placeholder of the input is moved up, rem/modify this. */
    border-radius: 3px;
}

.modal-lg {
    width: 80%;
}

#addRouteButton, #addStopButton{
    float: left;
}
#backToRouteControl{
    float: right
}

.select2-selection--multiple {
    max-height: 60px;
    overflow: auto
}

/* used for layer group control */

#layerGroupContainer {
    background: #fff;
    top: 10px;
    right: 10px;
}

/* to show and hide layer group control */
#layerGroupContainer div {
    display: none;
}

#layerGroupContainer:hover img {
    display: none;
}

#layerGroupContainer:hover div {
    display: block;
}

#listControl {
    padding: 0px;
}

@media print {
    .noprint {
        visibility: hidden;
    }

    .mapboxgl-ctrl-attrib-inner {
        visibility: hidden;
    }

    .mapboxgl-ctrl-logo {
        visibility: hidden;
    }
}

#routeLegendControl {
    opacity: 1;
}

#routeLegendControl, table thead tr th, #routeLegendControl, table tbody tr td {
    padding: 0px 2px;
}

#stopLegendControl {
    opacity: 1;
}

#stopLegendControl table thead tr th, #stopLegendControl table tbody tr td {
    padding: 0px 2px;
}