{% extends 'travel/base.html' %}
{% load static header data_filter panel %}

{% block title %}Indicadores: Mapa{% endblock %}

{% block css %}
    {{ block.super }}
    <link href="{% static "components/leaflet/dist/leaflet.css" %}" rel="stylesheet">
    {% with "components/gentelella/vendors/" as gentelella_static %}
        {# switchery: pretty checkboxes #}
        <link href="{% static gentelella_static|add:"switchery/dist/switchery.min.css" %}" rel="stylesheet">
    {% endwith %}
    <link href="{% static "travel/css/generic.css" %}" rel="stylesheet">
    <link href="{% static "travel/css/map.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="">
        {% header "Mapa de viajes" "Indicadores" %}
        {% include "datamanager/availableDays.html" with info_target_id="dayHelp" %}
        {% data_filter data_filter True False True False False False False False False False False False True info_target_id="filterHelp" %}

        <div class="row cols-same-height">
            {# Selection Bar #}
            <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                {% panel "fa-tasks" "¿Qué desea visualizar?" selectors %}
            </div>
            {# Map #}
            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                {% with panel_body="<div id='mapChart' style='height:500px'></div>" %}
                    {% panel "fa-map-o" "<span id='mapTitle'>Mapa</span> <span id='visualization_doc_count'>0</span> <span id='visualization_doc_count_txt'>datos</span>" panel_body title_id="mapTitle" info_target_id="mapHelp" %}
                {% endwith %}
            </div>
        </div>
    </div>

    {% include "datamanager/modal.html" with modal_id="filterHelp" modal_title="Filtro" modal_body="esto es una explicación de los filtros posibles" %}
    {% include "datamanager/modal.html" with modal_id="mapHelp" modal_title="Mapa" modal_body="esto es una explicación del mapa" %}
    {{ block.super }}
{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="{% static "components/leaflet/dist/leaflet.js" %}"></script>
    {% with "components/gentelella/vendors/" as gentelella_static %}
        {# switchery: pretty checkboxes #}
        <script src="{% static gentelella_static|add:"switchery/dist/switchery.min.js" %}"></script>
    {% endwith %}
    <script src="{% static "travel/js/map.js" %}"></script>
    <script src="{% static "travel/js/mapApp.js" %}"></script>
{% endblock %}
