{% extends 'speed/base.html' %}
{% load static header data_filter panel %}

{% block title %}Variación de Velocidades{% endblock %}

{% block css %}
    {{ block.super }}
    <style>
        .select2-container .select2-choice:not(.select2-default) {
            background-image: none !important;
            background-color: #D9FFC7;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="">
        {% header "Variación de velocidades" "por servicio" %}

        {% include "datamanager/availableDays.html" with  info_target_id="dayHelp" %}
        {% include "admin/date_range_modal.html" with modal_id="dateRangeModal" show_save_button="True" %}

        {% data_filter data_filter True False True False False False False False True True False  info_target_id="filterHelp" %}

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                {% with panel_body="<div id='main' style='height:200px;'></div>" %}
                    {% panel "fa-tachometer" "Variación de velocidades" panel_body info_target_id="chartHelp" %}
                {% endwith %}
            </div>
        </div>
    </div>

    {% include "help/modal/explanation/speed/variation/filter.html" with modal_id="filterHelp"  %}
    {% include "help/modal/explanation/speed/variation/chart.html" with modal_id="chartHelp" %}
    {{ block.super }}
{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="{% static "speed/js/variation.js" %}"></script>
{% endblock %}