{% extends 'globalstat/base.html' %}
{% load static header panel inline_select table columns update_button label button %}

{% block title %}Detalle de estadística global{% endblock %}

{% block css %}
    {% with "components/gentelella/vendors/" as gentelella_static %}
        <link href="{% static gentelella_static|add:"select2/dist/css/select2.min.css" %}" rel="stylesheet">
    {% endwith %}
{% endblock %}

{% block content %}
  {% header "Estadística global" %}

  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">

    {% inline_select "Período:" "periodFilter" dates True as day_select %}
    {% columns 2 2 12 day_select as col1 %}

    {% inline_select "Tipo de día:" "dayTypeFilter" dayTypes False as day_type_select %}
    {% columns 2 2 12 day_type_select as col2 %}

    {% inline_select "Métrica:" "metricFilter" metrics True as dayType_select %}
    {% columns 8 8 12 dayType_select as col3 %}

    {% button "clean" "Quitar métricas" "warning" "filter-group" as btn5 %}
    {% button "transaction" "Transacciones" "default" "filter-group" as btn1 %}
    {% button "trip" "Viajes" "default" "filter-group" as btn2 %}
    {% button "expedition" "Expediciones" "default" "filter-group" as btn3 %}
    {% button "gps" "GPS" "default" "filter-group" as btn4 %}
    {% columns 12 12 12 "Conjuntos de métricas: <br />"|add:btn5|add:btn1|add:btn2|add:btn3|add:btn4 as col4 %}

    {% update_button "btnUpdateChart" "Actualizar datos" as update_button %}
    {% columns 12 12 12 update_button as col5 %}

    {% panel "fa-filter" "Filtro" col1|add:col2|add:col3|add:col4|add:col5 %}
    </div>
  </div>

  {{ block.super }}
{% endblock %}

{% block js %}
    {{ block.super }}
    {% with "components/gentelella/vendors/" as gentelella_static %}
        <script src="{% static gentelella_static|add:"select2/dist/js/select2.min.js" %}"></script>
    {% endwith %}
    <script src="{% static "js/detail.js" %}"></script>
{% endblock %}
