{% extends 'globalstat/base.html' %}
{% load static header panel inline_select table columns update_button label button tile_stats data_filter %}

{% block title %}Detalle de estadística global{% endblock %}

{% block content %}
    {% header "Estadísticas globales por día" %}

    {% include "datamanager/availableDays.html" %}
    {% include "admin/date_range_modal.html" with modal_id="dateRangeModal" show_save_button="True" %}

    {% data_filter data_filter True show_export_button=False %}

    {% tile_stats 4 8 12 tiles_1 %}

    <div class="row">
        {% panel "" "" '<div id="chart1" style="height:200px;"></div>' as panel1 %}
        {% columns 6 6 12 panel1 %}
        {% panel "" "" '<div id="chart2" style="height:200px;"></div>' as panel2 %}
        {% columns 6 6 12 panel2 %}
    </div>

    <div class="ln_solid"></div>

    {% tile_stats 4 4 12 tiles_2 %}
    {% tile_stats 4 4 12 tiles_22 %}

    <div class="row">
        {% panel "" "" '<div id="chart3" style="height:300px;"></div>' as panel3 %}
        {% panel "" "" '<div id="chart4" style="height:300px;"></div>' as panel4 %}

        {% with '<table class="table table-hover"><thead><tr><th>#</th><th>Atributo</th><th>Día</th><th>Punta mañana</th><th>Punta tarde</th></tr></thead><tbody id="dataTable"></tbody></table>' as data_table %}
            {% panel "fa-table" "Otros" data_table as panel5 %}

            {% columns 6 6 12 panel3 %}
            {% columns 6 6 12 panel4 %}

            {% columns 12 12 12 panel5 %}
        {% endwith %}

        {% with '<table class="table table-hover"><thead><tr><th>#</th><th>Paradero</th><th>N° transacciones</th></tr></thead><tbody id="dataTable2"></tbody></table>' as data_table2 %}
            {% panel "fa-table" "Paradas con más validaciones" data_table2 as panel6 %}
            {% columns 6 6 12 panel6 %}
        {% endwith %}

        {% with '<table class="table table-hover"><thead><tr><th>#</th><th>Paradero de bus</th><th>N° transacciones</th></tr></thead><tbody id="dataTable3"></tbody></table>' as data_table3 %}
            {% panel "fa-table" "Paradas de bus con más validaciones" data_table3 as panel7 %}
            {% columns 6 6 12 panel7 %}
        {% endwith %}
    </div>

    {% comment %}
  <div class="ln_solid"></div>
  {% tile_stats 2 4 12 tiles_3 %}

  <div class="ln_solid"></div>
  {% tile_stats 3 4 12 tiles_4 %}
  {% endcomment %}
{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="{% static "globalstat/js/detail.js" %}"></script>
{% endblock %}
