{% extends 'globalstat/base.html' %}
{% load static header panel inline_select table columns update_button label button data_filter %}

{% block title %}Estadísticas globales por período{% endblock %}

{% block content %}
    {% header "Estadísticas globales por período" %}

    {% include "datamanager/availableDays.html" %}

    {% button "clean" "Quitar métricas" "warning" "filter-group" as btn1 %}
    {% button "transaction" "Transacciones" "default" "filter-group" as btn2 %}
    {% button "dayTrip" "Viajes" "default" "filter-group" as btn3 %}
    {% button "afternoonTrip" "Viajes punta tarde" "default" "filter-group" as btn4 %}
    {% button "morningTrip" "Viajes punta mañana" "default" "filter-group" as btn5 %}
    {% button "stage" "Etapas por modo de viaje" "default" "filter-group" as btn6 %}
    {% button "tripByNumberOfStage" "Viajes según número de etapas" "default" "filter-group" as btn7 %}
    {% button "expedition" "Expediciones" "default" "filter-group" as btn8 %}
    {% button "gps" "GPS" "default" "filter-group" as btn9 %}

    {% columns 12 12 12 "Conjuntos de métricas: <br />"|add:btn1|add:btn2|add:btn3|add:btn4|add:btn5|add:btn6|add:btn7|add:btn8|add:btn9 as col4 %}

    {% data_filter data_filter show_day_filter=True show_metric_filter=True extra_html=col4 show_export_button=False %}

    {{ block.super }}
{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="{% static "globalstat/js/resume.js" %}"></script>
{% endblock %}
