{% extends 'globalstat/base.html' %}
{% load static header panel inline_select table columns update_button label button data_filter %}

{% block title %}Estadísticas globales por período{% endblock %}

{% block content %}
    {% header "Estadísticas globales por período" %}

    {% include "datamanager/availableDays.html" %}


    {% with subgroup="<br /><div class='btn-group' id='subgroup'></div>" %}
        {% button "clean" "Quitar métricas" "warning" "filter-group" as btn1 %}
        {% button "transaction" "Transacciones" "default" "filter-group" as btn2 %}
        {% button "trip" "Viajes" "default" "filter-group" as btn3 %}
        {% button "stage" "Etapas por modo de viaje" "default" "filter-group" as btn4 %}
        {% button "expedition" "Expediciones" "default" "filter-group" as btn5 %}

        {% columns 12 12 12 "Área de métricas: <br />"|add:btn1|add:btn2|add:btn3|add:btn4|add:btn5|add:"<br />Conjuntos de métricas:"|add:subgroup as col4 %}

        {% data_filter data_filter show_day_filter=True show_metric_filter=True extra_html=col4 show_export_button=False %}
    {% endwith %}

    {{ block.super }}
        {% include "admin/date_range_modal.html" with modal_id="dateRangeModal" show_save_button="True" %}

{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="{% static "globalstat/js/resume.js" %}"></script>
{% endblock %}
