{% extends 'bip/base.html' %}
{% load static header panel inline_select table columns update_button label data_filter tabs %}

{% block title %}Transacciones por Operador{% endblock %}

{% block content %}
    {% label "OBSERVACIÓN: Los datos mostrados a continuación no consideran evasión." "warning" as label %}
    {% header "Transacciones" "por operador"|add:label %}

    {% include "datamanager/availableDays.html" with info_target_id="dayHelp" %}
    {% include "admin/date_range_modal.html" with modal_id="dateRangeModal" show_save_button="True" %}

    {% data_filter data_filter True False info_target_id="filterHelp" %}
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            {% panel "" "" '<div id="barChart" style="height:400px;"></div>' %}
        </div>
    </div>
    {% include "help/modal/explanation/bip/by_operator/filter.html" with modal_id="filterHelp" %}
    {% include "help/modal/explanation/bip/by_operator/chart.html" with modal_id="chartHelp" %}
    {{ block.super }}
{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="{% static "bip/js/byOperator.js" %}"></script>
{% endblock %}
