{% extends 'admin/base_site.html' %}
{% load static panel table header %}

{% block title %}Solicitudes de descarga de datos{% endblock %}

{% block css %}
    {% with "components/gentelella/vendors/" as gentelella_static %}
        <link href="{% static gentelella_static|add:"datatables.net-bs/css/dataTables.bootstrap.min.css" %}"
              rel="stylesheet">
        <link href="{% static gentelella_static|add:"datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" %}"
              rel="stylesheet">
        <link href="{% static gentelella_static|add:"datatables.net-responsive-bs/css/responsive.bootstrap.min.css" %}"
              rel="stylesheet">
        <link href="{% static gentelella_static|add:"datatables.net-scroller-bs/css/scroller.bootstrap.min.css" %}"
              rel="stylesheet">
        <link href="{% static gentelella_static|add:"datatables.net-scroller-bs/css/scroller.bootstrap.min.css" %}"
              rel="stylesheet">
    {% endwith %}
{% endblock %}

{% block content %}
    <div class="">
        {% header "Solicitudes de descarga de datos" %}
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                {% table html_id="history" columns=columns data=data with_checker=False as file_table %}
                {% panel title_icon=table.title_icon title=table.title body=file_table %}
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    {% with "components/gentelella/vendors/" as gentelella_static %}
        <script src="{% static gentelella_static|add:"datatables.net/js/jquery.dataTables.min.js" %}"></script>
        <script src="{% static gentelella_static|add:"datatables.net-bs/js/dataTables.bootstrap.min.js" %}"></script>
        <script src="{% static gentelella_static|add:"datatables.net-fixedheader/js/dataTables.fixedHeader.min.js" %}"></script>
        <script src="{% static gentelella_static|add:"datatables.net-responsive/js/dataTables.responsive.min.js" %}"></script>
        <script src="{% static gentelella_static|add:"datatables.net-responsive-bs/js/responsive.bootstrap.js" %}"></script>
        <script src="{% static gentelella_static|add:"datatables.net-scroller/js/dataTables.scroller.min.js" %}"></script>
    {% endwith %}
    <script src="{% static "datamanager/js/jobHistory.js" %}"></script>
{% endblock %}
