{% extends 'admin/base_site.html' %}
{% load static panel bubble_message table tabs %}

{% block title %}Administrador de carga de datos{% endblock %}

{% block css %}
{% with "components/gentelella/vendors/" as gentelella_static %}
  <link href="{% static gentelella_static|add:"bootstrap-daterangepicker/daterangepicker.css" %}" rel="stylesheet">
  <link href="{% static gentelella_static|add:"pnotify/dist/pnotify.css" %}" rel="stylesheet">
  <link href="{% static gentelella_static|add:"pnotify/dist/pnotify.buttons.css" %}" rel="stylesheet">
  <link href="{% static gentelella_static|add:"pnotify/dist/pnotify.nonblock.css" %}" rel="stylesheet">
  <link href="{% static gentelella_static|add:"select2/dist/css/select2.min.css" %}" rel="stylesheet">
<!-- iCheck -->
  <link href="{% static gentelella_static|add:"iCheck/skins/flat/green.css" %}" rel="stylesheet">

  <link href="{% static gentelella_static|add:"datatables.net-bs/css/dataTables.bootstrap.min.css" %}" rel="stylesheet">
  <link href="{% static gentelella_static|add:"datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" %}" rel="stylesheet">
  <link href="{% static gentelella_static|add:"datatables.net-responsive-bs/css/responsive.bootstrap.min.css" %}" rel="stylesheet">
  <link href="{% static gentelella_static|add:"datatables.net-scroller-bs/css/scroller.bootstrap.min.css" %}" rel="stylesheet">
  <link href="{% static gentelella_static|add:"datatables.net-scroller-bs/css/scroller.bootstrap.min.css" %}" rel="stylesheet">
  <style>
.select2-container .select2-choice:not(.select2-default) {
    background-image: none !important;
    background-color: #D9FFC7;
}
  </style>
{% endwith %}
{% endblock %}

{% block content %}
<div class="">
  <div class="page-title">
    <div class="title_left">
      <h3>Administrador de carga de datos <small></small></h3>
    </div>
    <div class="title_right">
    </div>
  </div>
  <div class="clearfix"></div>
  <br />

  <div class="row">
  </div>
  <div class="row">
      {% for table in tables %}
        <div class="col-md-6 col-sm-6 col-xs-12">
            {% bubble_message status="info" title=table.bubble_title content=table.bubble_content as a %}
            {% table id=table.id columns=3 as b %}
            {% panel title_icon=table.title_icon title=table.title body=a|add:b %}
        </div>
      {% endfor %}
  </div>
</div>
{% endblock %}

{% block js %}
{% with "components/gentelella/vendors/" as gentelella_static %}
<script src="{% static gentelella_static|add:"pnotify/dist/pnotify.js" %}"></script>
<script src="{% static gentelella_static|add:"pnotify/dist/pnotify.buttons.js" %}"></script>
<script src="{% static gentelella_static|add:"pnotify/dist/pnotify.nonblock.js" %}"></script>

<script src="{% static gentelella_static|add:"datatables.net/js/jquery.dataTables.min.js" %}"></script>
<script src="{% static gentelella_static|add:"datatables.net-bs/js/dataTables.bootstrap.min.js" %}"></script>
<script src="{% static gentelella_static|add:"datatables.net-fixedheader/js/dataTables.fixedHeader.min.js" %}"></script>
<script src="{% static gentelella_static|add:"datatables.net-responsive/js/dataTables.responsive.min.js" %}"></script>
<script src="{% static gentelella_static|add:"datatables.net-responsive-bs/js/responsive.bootstrap.js" %}"></script>
<script src="{% static gentelella_static|add:"datatables.net-scroller/js/dataTables.scroller.min.js" %}"></script>
{% endwith %}

<script>
"use strict";
$(document).ready(function() {
    const URL = "loadManager/data";
    $.get(URL, function (data) {
        console.log(data);
        let dictFiles = data["routeDictFiles"];

        let _datatableOpts = {
            lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "Todos"]],
            language: {
                url: '//cdn.datatables.net/plug-ins/1.10.13/i18n/Spanish.json'
            },
            searching: false,
            columns: [
                {title: "Nombre de archivo", data: "name", searchable: true},
                {title: "Fecha", data: "discoverAt", searchable: true,
                    render: function(data, type, row, meta){
                        return (new Date(data)).toLocaleString();
                    }
                },
                {title: "N° de líneas", data: "lines", searchable: true}
            ],
            order: [[1, 'desc']]
        };

        for (let key in dictFiles){
            let files = dictFiles[key];
            let opts = $.extend({data: files}, _datatableOpts);
            $("#" + key + "Table").DataTable(opts);
        }
    });

    function showMessage(status) {
        let message = status['message'];
        let title = status['title'];
        let type = status['type'];

        new PNotify({
            title: title,
            type: type,
            text: message,
            nonblock: {
                nonblock: true
            },
            styling: 'bootstrap3',
            mouse_reset: false
        }).get().click(function () {
            this.remove();
        });
    }

    // load filters
    (function () {
        // set locale

    })()
});
</script>
{% endblock %}
